<!-- Begin Footer
================================================== -->
<footer class="footer mt-48">
    <div class="container">
            <div class="text-center">
                Ce blog et ses articles sont hébergés sur <a href="https://github.com/etalab/transport-site">github</a>.
                <div class="footer-logo">
                    <a href="https://transport.data.gouv.fr/">
                        <img src="/images/logo-ministere-horizontal.png" alt="logo">
                        <img src="/images/logo-footer.svg" alt="logo">
                    </a>
                </div>
        
            </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
