{{- /* Matomo tracking code */}}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.transport.data.gouv.fr"]);
  _paq.push(["setDomains", "*.transport.data.gouv.fr"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function() {
    var u="//stats.data.gouv.fr/";
    _paq.push(["setTrackerUrl", u+"matomo.php"]);
    _paq.push(["setSiteId", "58"]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName("script")[0];
    g.type="text/javascript"; g.async=true; g.defer=true; g.src=u+"matomo.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
{{- /* end Matomo tracking code */}}
