<!-- Begin Menu Navigation
================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    
        <div class="navbar-brand">
            <span {{ with not .IsHome }} class="d-none d-md-block" {{ end }}>
                <a href="https://transport.data.gouv.fr/">
                    {{ with .Site.Params.logo }}
                    <img src="{{ . | urlize | relURL }}" alt="logo">
                    {{ else }}
                    <span style="font-family:Righteous;">{{.Site.Title}}</span>
                    {{ end }}
                </a>
            </span>
            </div>

        <div class="container pr-0">
            {{ if not .IsHome }}
            <span class="blog-title"> 
                <a href="{{ .Site.BaseURL }}/">
                    {{.Site.Title}}
                </a>
            </span>
            {{ end }}
    
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
    
            <!-- Begin Menu -->
            <!-- <div class="collapse navbar-collapse" id="navbarMediumish">
                {{ $currentPage := . }}
                <ul class="navbar-nav ml-auto">
                    {{ range .Site.Menus.main }} 
                    <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a class="nav-link" href="{{ .URL }}">{{ .Name | title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div> -->
            <!-- End Menu -->
        </div>
    </nav>
<!-- End Navigation
================================================== -->
