<section>
  <h1><%= dgettext("page-shortlist", "Available datasets") %></h1>
  <shortlist frlo='<%= dgettext("page-shortlist", "Open Licence") %>'
             download='<%= dgettext("page-shortlist", "Download") %>'
             licence='<%= dgettext("page-shortlist", "Licence") %>'
             territory='<%= dgettext("page-shortlist", "Territory") %>'
             seedatagouvfr='<%= dgettext("page-shortlist", "See on data.gouv.fr") %>'
  </shortlist>
</section>
