<section>
  <h1><%= gettext "shortlist_title" %></h1>
  <shortlist frlo="<%= gettext "frlo" %>"
             download="<%= gettext "shortlist_download" %>"
             licence="<%= gettext "shortlist_licence" %>"
             territory="<%= gettext "shortlist_territory" %>"
             seedatagouvfr="<%= gettext "shortlist_seedatagouvfr" %>">
  </shortlist>
</section>
