<shortlist frlo="<%= gettext "frlo" %>"
           download="<%= gettext "download" %>"
           licence="<%= gettext "licence" %>"
           territory="<%= gettext "territory" %>"
           seedatagouvfr="<%= gettext "seedatagouvfr" %>">
</shortlist>
