root = true

[*]
indent_size              = 2
indent_style             = space
charset                  = utf-8
trim_trailing_whitespace = true
spaces_around_operators  = true
max_line_length          = 80
insert_final_newline     = true
end_of_line              = lf

[*.js]
indent_size              = 4

[*.md]
trim_trailing_whitespace = false

[*.markdown]
trim_trailing_whitespace = false
