export SECRET_KEY_BASE=asdf1234
export RABBITMQ_URL=amqp://guest:guest@localhost
export DATAGOUVFR_SITE=https://www.data.gouv.fr
export DATAGOUVFR_CLIENT_ID=asdf1234
export DATAGOUVFR_CLIENT_SECRET= asdf1234
export DATAGOUVFR_REDIRECT_URI=http://127.0.0.1:5000/auth/callback
