# Configuration for the data.gouv.fr connection
export DATAGOUVFR_CLIENT_ID=asdf1234
export DATAGOUVFR_CLIENT_SECRET= asdf1234

# Clever cloud cellar keys. If empty no dataset history is available
export CELLAR_ACCESS_KEY_ID=
export CELLAR_SECRET_ACCESS_KEY=

# Mailjet configuration
export MJ_APIKEY_PUBLIC=
export MJ_APIKEY_PRIVATE=

# GBFS configuration
export JCDECAUX_APIKEY=
