# Configuration for the data.gouv.fr connection
export DATAGOUVFR_SITE=https://demo.data.gouv.fr # This is data.gouv.fr test environment
export DATAGOUVFR_CLIENT_ID=asdf1234
export DATAGOUVFR_CLIENT_SECRET= asdf1234
export DATAGOUVFR_REDIRECT_URI=http://localhost:5000/login/callback

# Phoenix secret key. Can be generated with `mix phx.gen.secret`
export SECRET_KEY_BASE=asdf1234

# ecto url of the postgresql database
export PG_URL=ecto://postgres:postgres@localhost/transport_repo

# ecto url of the test database
export PG_URL_TEST=ecto://postgres:postgres@localhost/transport_test

# URL to the GTFS validator (https://github.com/etalab/transport-validator/)
export GTFS_VALIDATOR_URL=https://transport-validator.cleverapps.io

# Clever cloud cellar keys. If empty no dataset history is available
export CELLAR_ACCESS_KEY_ID=
export CELLAR_SECRET_ACCESS_KEY=

# Mailjet configuration
export MJ_APIKEY_PUBLIC=
export MJ_APIKEY_PRIVATE=

# GBFS configuration
export JCDECAUX_APIKEY=
