{
  "extends": [
    "eslint:recommended",
    "./apps/transport/client/node_modules/eslint-config-standard/eslintrc.json"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "no-multi-spaces": "off"
  },
  "globals": {
    "fetch": true,
    "opts": true,
    "Headers": true,
    "FormData": true
  }
}
