# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Npm stuff
/node_modules
/**/*/node_modules
/**/*/npm-debug.*

# Since we are building assets from client,
# we ignore priv/static.
/priv/static/js
/priv/static/css

# For now, we'll be ignoring data files.
/priv/static/data/aots

# Environment varabiables files
/.env
/.envrc

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs
