# App artifacts
/_build
/db
/deps
/*.ez
.elixir_ls
.DS_Store

# Generated on crash by the VM
erl_crash.dump

# Npm stuff
/node_modules
/**/*/node_modules
/**/*/npm-debug.*

# Code coverage output
/**/cover

# Since we are building assets from client,
# we ignore priv/static.
apps/transport/priv/static/css/*
apps/transport/priv/static/fonts/*
apps/transport/priv/static/images/*
apps/transport/priv/static/js/*
# Environment varabiables files
/.env
/.envrc

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# the blog build folder
/blog/public
.clever.json

dialyzer-plt/*.plt
dialyzer-plt/*.plt.hash
config/proxy-config.yml
config/dev.secret.exs
