# NOTE: this file does _not_ define what is used in production
# (see https://github.com/etalab/transport-site/issues/1336), but it
# provides an easy way to ensure local development and test will rely on roughly
# the same versions as in production, if one uses the "asdf" version manager.

# Update ASDF and plugins: asdf update && asdf plugin update --all

# See:
# - https://hexdocs.pm/elixir/compatibility-and-deprecations.html
# - https://github.com/elixir-lang/elixir/releases
# - `asdf list all elixir`
elixir 1.17.3-otp-27

# See:
# - https://github.com/erlang/otp/releases
# - Blog, e.g. https://www.erlang.org/blog/my-otp-25-highlights/
# - https://github.com/erlang/otp/blob/master/otp_versions.table
# - `asdf list all erlang`
erlang 27.1

# Take an LTS version on https://nodejs.org/
nodejs 20.17.0
