# NOTE: this file does _not_ define what is used in production
# (see https://github.com/etalab/transport-site/issues/1336), but it
# provides an easy way to ensure local development and test will rely on roughly
# the same versions as in production, if one uses the "asdf" version manager.

# See:
# - https://hexdocs.pm/elixir/compatibility-and-deprecations.html
# - https://github.com/elixir-lang/elixir/releases
# - `asdf list all elixir`
elixir 1.13.2-otp-24

# See:
# - https://github.com/erlang/otp/releases
# - https://github.com/erlang/otp/blob/master/otp_versions.table
# - `asdf list all erlang`
erlang 24.2.1

nodejs 16.14.0
