<section class="container pt-48 pb-48">
    <h1>Jobs</h1>
    <p class="small">Dernière mise à jour: <%= @last_updated_at %></p>
</section>
<script defer type="text/javascript" src="/js/app.js") %>></script>
