<section class="container pt-48 pb-48">
    <h1>Configuration du Proxy</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Donnée proxy</th>
                <th>Donnée d'origine</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
