<div class="container">
  <h1>Breaking News sur la page d'accueil</h1>
  <div class="pb-48">
    Cette page permet de faire apparaitre instantanément un message d'information sur la page d'accueil du site. Il est possible d'utiliser <a href="https://www.markdownguide.org/basic-syntax/">du Markdown</a>.<br />
    Pour supprimer le bandeau, il suffit de supprimer le contenu du message.
  </div>

  <.form
    :let={f}
    for={@form}
    action={backoffice_breaking_news_path(@conn, :update_breaking_news)}
    class="no-margin backoffice-form"
  >
    <.input
      field={f[:msg]}
      label="Message à faire apparaitre sur le site"
    />
    <.input
      field={f[:level]}
      type="select"
      options={Ecto.Enum.mappings(DB.BreakingNews, :level)}
      label="Type de message"
    />
    <.button>Envoyer !</.button>
  </.form>
</div>
