<div class="container dataset-page-top">
  <h2><%= dgettext("explore", "Consolidated GTFS stops map") %></h2>
  <p>
    <%= raw(
      dgettext("explore", "Consolidated GTFS stops map explanation",
        link: "<a href=\"https://github.com/etalab/transport-site/issues/3167\">#3167</a>"
      )
    ) %>
  </p>
</div>

<div id="map" class="explore_map"></div>

<script src={static_path(@conn, "/js/gtfs.js")}>
</script>
