<div class="container dataset-page-top">
    <h2><%= dgettext("explore", "GTFS-RT vehicule positions") %></h2>
    <p><%= dgettext("explore", "beta-explanation") %></p>
</div>

<div id="map" class="explore_map"></div>

<script src={static_path(@conn, "/js/explore.js")}></script>
