<!DOCTYPE html>
<html lang="<%= get_session(@conn, :locale) %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="DINSIC">
    <meta name="csrf" content="<%= get_csrf_token() %>">

    <% seo = metadata(assigns) %>
    <% title = seo[:title] || dgettext("seo", "National Access Point for transport open data") %>
    <% description = seo[:description] || dgettext("seo", "Publish, improve and reuse French public transport data") %>
    <meta name="description" content="<%= description %>">
    <title><%= title  %></title>

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="<%= static_url(@conn, "/images/transport-social-share.png") %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:locale" content="<%= get_session(@conn, :locale) %>" />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="<%= title %>" />
    <meta property="twitter:image" content="<%= static_url(@conn, "/images/transport-social-share.png") %>" />
    <meta property="twitter:description" content="<%= description %>" />

    <link rel="stylesheet" media="all" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="alternate" type="application/atom+xml" href="<%= atom_url(@conn, :index) %>" title="Resources feed" >
    <%= if assigns[:mix_env] == :prod do %>
    <!-- Polyfill for css grid-->
    <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
      document.write('<script src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"><\/script>');
      document.write('<script src="https://unpkg.com/url-polyfill@1.0.14/url-polyfill.js"><\/script>');
    }
    </script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.transport.data.gouv.fr","*.transport.data.gouv.fr"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.data.gouv.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '58']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=58" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    <% end %>
  </head>

  <body>
    <%= render(LayoutView, "_header.html", assigns) %>

    <main class="layout-main" role="main">
      <%= if has_flash(@conn) do %>
        <%= if get_flash(@conn, :info) do %>
          <p class="notification"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :errors) do %>
          <%= for error <- get_flash(@conn, :errors) do %>
            <p class="message message--error"><%= error %></p>
          <% end %>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
            <p class="message message--error"><%= get_flash(@conn, :error) %></p>
        <% end %>
      <% end %>

      <%= @inner_content %>
    </main>

    <%= render(LayoutView, "_footer.html", assigns) %>
  </body>
</html>
