<% subscriptions_with_dataset = notification_subscriptions_with_dataset(@notification_subscriptions) %>
<% subscriptions_without_dataset = notification_subscriptions_without_dataset(@notification_subscriptions) %>
<% reasons_subscribed_without_dataset = subscriptions_without_dataset |> Enum.map(& &1.reason) |> Enum.uniq() %>

<div :if={!@creating_contact} class="panel" id="notification_subscriptions">
  <h2>Abonnements à des notifications</h2>

  <h3>Créer un abonnement</h3>

  <p class="notification">
    ℹ️ Les abonnements créés depuis le backoffice sont créés avec le rôle de <code><b>producer</b></code>. Les réutilisateurs doivent utiliser l'espace réutilisateur en autonomie.
  </p>

  <h4>Lié à un jeu de données</h4>

  <.form
    :let={f}
    for={@conn.params}
    action={backoffice_notification_subscription_path(@conn, :create)}
    class="backoffice-form"
  >
    <.input field={f[:redirect_location]} type="hidden" value="contact" />
    <.input field={f[:contact_id]} type="hidden" value={@contact_id} />
    <.input field={f[:dataset_id]} label="Jeu de données" required list="datasets_datalist" pattern="[0-9]+" />
    <div class="form__group">
      <fieldset>
        <legend>{dgettext("backoffice", "Notification reason")}</legend>
        <%= for reason <- Transport.NotificationReason.subscribable_reasons_related_to_datasets(:producer) do %>
          <input type="checkbox" id={f[reason].id} name={f[reason].name} value="true" checked />
          <label for={f[reason].id} class="label-inline">{reason}</label>
        <% end %>
      </fieldset>
    </div>

    <.button>Créer un abonnement</.button>
    <datalist id="datasets_datalist">
      <%= for dataset <- @datasets_datalist do %>
        <option value={dataset.id}>{dataset_title(dataset)}</option>
      <% end %>
    </datalist>
  </.form>

  <h4>Autres motifs</h4>

  <.form
    :let={f}
    for={@conn.params}
    action={backoffice_notification_subscription_path(@conn, :create)}
    class="backoffice-form"
  >
    <.input field={f[:redirect_location]} type="hidden" value="contact" />
    <.input field={f[:contact_id]} type="hidden" value={@contact_id} />
    <div class="form__group">
      <fieldset>
        <legend>{dgettext("backoffice", "Notification reason")}</legend>
        <%= for reason <- Transport.NotificationReason.subscribable_platform_wide_reasons(:producer) do %>
          <input
            type="checkbox"
            id={f[reason].id}
            name={f[reason].name}
            value="true"
            checked={reason in reasons_subscribed_without_dataset}
          />
          <label for={f[reason].id} class="label-inline">{reason}</label>
        <% end %>
      </fieldset>
    </div>

    <.button>Mettre à jour les abonnements</.button>
  </.form>

  <h3>{dgettext("backoffice", "Existing subscriptions")}</h3>

  <p :if={Enum.empty?(@notification_subscriptions)} class="notification">
    {dgettext("backoffice", "There are no notification subscriptions for this contact.")}
  </p>

  <table :if={Enum.count(subscriptions_with_dataset) > 0} class="table mt-48 dashboard-description">
    <tr>
      <th>{dgettext("backoffice", "Dataset")}</th>
      <th>{dgettext("backoffice", "Role")}</th>
      <th>{dgettext("backoffice", "Notification reason")}</th>
      <th>Source</th>
      <th>Actions</th>
    </tr>
    <%= for {dataset, notification_subscriptions} <- subscriptions_with_dataset do %>
      <%= for {notification_subscription, index} <- Enum.with_index(notification_subscriptions) do %>
        <tr>
          <td :if={index == 0} rowspan={Enum.count(notification_subscriptions)}>
            <a href={backoffice_page_path(@conn, :edit, dataset.id)}>
              {dataset.custom_title}
            </a>

            <div class="inline-block">
              <.form
                :let={f}
                for={%{}}
                action={
                  backoffice_notification_subscription_path(
                    @conn,
                    :delete_for_contact_and_dataset,
                    @contact_id,
                    dataset.id
                  )
                }
                method="delete"
              >
                <.input field={f[:redirect_location]} type="hidden" value="contact" />
                <button class="small button-outline no-border warning" title="désabonner entièrement">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </.form>
            </div>
            <div class="small">{dataset.type}</div>
          </td>
          <td><span class={role_class(notification_subscription)}>{notification_subscription.role}</span></td>
          <td>{notification_subscription.reason}</td>
          <td>{notification_subscription.source}</td>
          <td>
            <.form
              :let={f}
              for={%{}}
              action={backoffice_notification_subscription_path(@conn, :delete, notification_subscription.id)}
              method="delete"
            >
              <.input field={f[:redirect_location]} type="hidden" value="contact" />
              <button class="small button-outline no-border warning">
                <i class="fas fa-trash"></i>
              </button>
            </.form>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <table :if={Enum.count(subscriptions_without_dataset) > 0} class="table mt-48 dashboard-description">
    <tr>
      <th>{dgettext("backoffice", "Role")}</th>
      <th>{dgettext("backoffice", "Notification reason")}</th>
      <th>Source</th>
      <th>Actions</th>
    </tr>
    <%= for notification_subscription <- Enum.sort_by(subscriptions_without_dataset, & &1.reason, :asc) do %>
      <tr>
        <td><span class={role_class(notification_subscription)}>{notification_subscription.role}</span></td>
        <td>{notification_subscription.reason}</td>
        <td>{notification_subscription.source}</td>
        <td>
          <.form
            :let={f}
            for={%{}}
            action={backoffice_notification_subscription_path(@conn, :delete, notification_subscription.id)}
            method="delete"
          >
            <.input field={f[:redirect_location]} type="hidden" value="contact" />
            <button class="small button-outline warning">
              <i class="fas fa-trash"></i> Supprimer
            </button>
          </.form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
