<% contact_id = Ecto.Changeset.get_field(@contact, :id) %>
<% creating_contact = is_nil(contact_id) %>
<div class="container pb-24">
  <div class="pb-24">
    {breadcrumbs([@conn, :contacts_edit])}
  </div>
  <div class="panel">
    <h2 :if={creating_contact}>Créer un contact</h2>
    <h2 :if={!creating_contact}>Éditer un contact</h2>

    <%= if not @contact.valid? and @contact.changes != %{} do %>
      <div class="notification error">
        <ul>
          <%= for {field, {msg, _}} <- @contact.errors do %>
            <li>{"#{field} : #{msg}"}</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div :if={@contact.data.datagouv_user_id != nil} class="pb-24">
      Identifiant de l'utilisateur sur data.gouv.fr <span class="label">{@contact.data.datagouv_user_id}</span>
      <br />
      Dernière date de connexion : {format_datetime_to_paris(
        @contact.data.last_login_at,
        get_session(@conn, :locale)
      )}
    </div>
    <.form
      :let={f}
      for={@contact}
      action={backoffice_contact_path(@conn, :create)}
      class="no-margin backoffice-form"
      method="post"
    >
      <.input field={f[:id]} type="hidden" value={contact_id} />
      <div class="panel">
        <.input field={f[:first_name]} label="Prénom" />
        <.input field={f[:last_name]} label="Nom" />
        <p class="separator pt-6 pb-6">
          - {dgettext("backoffice", "or")} -
        </p>
        <.input field={f[:mailing_list_title]} label="Titre">
          <:help>À utiliser quand un contact n'est pas une personne</:help>
        </.input>
      </div>
      <.input field={f[:job_title]} label="Fonction" placeholder="Responsable numérique" list="existing_job_titles">
        <:help>Optionnel</:help>
      </.input>
      <.input field={f[:organization]} label="Organisation" required placeholder="SNCF" list="existing_organizations" />
      <.input field={f[:email]} type="email" label="E-mail" required />
      <.input field={f[:phone_number]} type="tel" label="Numéro de téléphone principal">
        <:help>Optionnel</:help>
      </.input>
      <.input field={f[:secondary_phone_number]} type="tel" label="Numéro de téléphone secondaire">
        <:help>Optionnel</:help>
      </.input>
      <div class="form__group"><.button>Envoyer</.button></div>
      <datalist id="existing_job_titles">
        <%= for job_title <- @existing_job_titles do %>
          <option value={job_title} />
        <% end %>
      </datalist>
      <datalist id="existing_organizations">
        <%= for org <- @existing_organizations do %>
          <option value={org} />
        <% end %>
      </datalist>
    </.form>
  </div>

  <div :if={!creating_contact} class="panel">
    <h2>Actions</h2>
    <.form for={@contact} action={backoffice_contact_path(@conn, :delete, contact_id)} class="no-margin" method="post">
      <div class="form__group"><.button class="button warning">Supprimer</.button></div>
    </.form>
  </div>

  {render("_notification_subscriptions.html",
    creating_contact: creating_contact,
    contact_id: contact_id,
    datasets_datalist: @datasets_datalist,
    notification_subscriptions: @notification_subscriptions,
    conn: @conn
  )}
  {render("_notifications.html",
    creating_contact: creating_contact,
    notifications: @notifications,
    notifications_months_limit: @notifications_months_limit,
    conn: @conn
  )}
</div>
