{
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ]
  },
  "globals": {
    "fetch": true,
    "opts": true,
    "Headers": true,
    "FormData": true
  }
}
