version: 2

default_docker: &default_docker
  image: betagouv/transport:0.4.3
  environment:
    MIX_ENV: test
    PG_URL_TEST: ecto://root@127.0.0.1/transport_test
    DATAGOUVFR_SITE: https://www.data.gouv.fr
    MAILCHIMP_NEWSLETTER_URL: //gouv.us13.list-manage.com/subscribe/post?u=5ee8bfe0f1b073b49de06a063&amp;id=13db2e9a94
    GTFS_VALIDATOR_URL: https://transport-validator.cleverapps.io

defaults: &defaults
  working_directory: ~/transport
  docker:
    - *default_docker

defaults_with_postgres: &defaults_with_postgres
  <<: *defaults
  docker:
    - *default_docker
    - image: mdillon/postgis:11-alpine
      environment:
        POSTGRES_USER: root
        POSTGRES_DB: transport_test

defaults_with_postgres_and_phantom: &defaults_with_postgres_and_phantom
    <<: *defaults
    docker:
      - *default_docker
      - image: selenium/standalone-chrome
      - image: mdillon/postgis:11-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: transport_test

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
            - elixir-v4-{{ checksum "mix.lock" }}

      - run:
          name: Install mix dependencies
          command: mix deps.get

      - run:
          name: Compile mix dependencies
          command: mix deps.compile

      - run:
          name: Install yarn dependencies
          command: cd ~/transport/apps/transport/client && yarn install

      - run:
          name: Compile assets
          command: cd ~/transport/apps/transport/client && npm run deploy

      - persist_to_workspace:
          root: ~/transport
          paths:
            - .

      - save_cache:
          key: elixir-v4-{{ checksum "mix.lock" }}
          paths:
            - ~/transport/_build
            - ~/transport/deps
            - ~/.mix

  test_lint:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/transport

      - run:
          name: Run linters
          command: |
            mix credo --strict
            mix npm "run linter:ecma"
            mix npm "run linter:sass"

  test_unit:
    <<: *defaults_with_postgres
    steps:
      - attach_workspace:
          at: ~/transport

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test

  test_integration:
    <<: *defaults_with_postgres_and_phantom

    steps:
      - attach_workspace:
          at: ~/transport

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only integration

  test_solution:
    <<: *defaults_with_postgres_and_phantom

    steps:
      - attach_workspace:
          at: ~/transport

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only solution

  test_external:
    <<: *defaults_with_postgres

    steps:
      - attach_workspace:
          at: ~/transport

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only external

workflows:
  version: 2
  transport:
    jobs:
      - build

      - test_lint:
          requires:
            - build

      - test_unit:
          requires:
            - build

      - test_integration:
          requires:
            - build

      - test_solution:
          requires:
            - build

