version: 2

defaults: &defaults
  working_directory: ~/transport
  docker:
    - image: betagouv/transport:0.1.1
      environment:
          MIX_ENV: test
          MONGODB_URL: mongodb://localhost/transport_test
          DATAGOUVFR_SITE: https://www.data.gouv.fr
          MAILCHIMP_NEWSLETTER_URL: //gouv.us13.list-manage.com/subscribe/post?u=5ee8bfe0f1b073b49de06a063&amp;id=13db2e9a94
jobs:
  checkout:
    <<: *defaults

    steps:
      - checkout
      - save_cache:
          key: v1-checkout-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/transport

  install_back:
    <<: *defaults

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - run:
          name: Install mix dependencies
          command: mix deps.get

      - run:
          name: Compile mix dependencies
          command: mix deps.compile

      - save_cache:
          key: v1-deps_back-{{ checksum "mix.lock" }}
          paths:
            - ~/transport/_build
            - ~/transport/deps
            - ~/.mix

  install_front:
    <<: *defaults

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_front-{{ checksum "client/yarn.lock" }}

      - run:
          name: Install yarn dependencies
          command: cd ~/transport/client && yarn install

      - save_cache:
          key: v1-deps_front-{{ checksum "client/yarn.lock" }}
          paths:
            - ~/transport/client/node_modules

  compile_assets:
    <<: *defaults

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_front-{{ checksum "client/yarn.lock" }}

      - restore_cache:
          keys:
            - v1-static-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: Compile assets
          command: cd ~/transport/client && npm run deploy

      - save_cache:
          key: v1-static-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/transport/priv/static/js
            - ~/transport/priv/static/css
            - ~/transport/priv/static/fonts
            - ~/transport/priv/static/images

  test_lint:
    <<: *defaults

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - restore_cache:
          keys:
            - v1-deps_front-{{ checksum "client/yarn.lock" }}

      - run:
          name: Run linters
          command: |
            mix credo --strict
            mix npm "run linter:ecma"
            mix npm "run linter:riot"
            mix npm "run linter:sass"

  test_unit:
    <<: *defaults
    docker:
      - image: mongo:3.7-jessie

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test

  test_integration:
    <<: *defaults
    docker:
      - image: mongo:3.7-jessie
      - image: wernight/phantomjs
        command: phantomjs --webdriver=8910

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - restore_cache:
          keys:
            - v1-static-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only integration

  test_solution:
    <<: *defaults
    docker:
      - image: wernight/phantomjs
        command: phantomjs --webdriver=8910
      - image: mongo:3.7-jessie

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - restore_cache:
          keys:
            - v1-static-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only solution

  test_external:
    <<: *defaults
    docker:
      - image: mongo:3.7-jessie

    steps:
      - restore_cache:
          keys:
            - v1-checkout-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          keys:
            - v1-deps_back-{{ checksum "mix.lock" }}

      - run:
          name: Run tests
          command: |
            export SECRET_KEY_BASE=`mix phx.gen.secret`
            mix test --only external

  deploy:
    machine:
        enabled: true

    working_directory: ~/transport

    steps:
      - checkout

      - run:
          name: Setup Heroku
          command: |
            cat > ~/.netrc << EOF
            machine api.heroku.com
              login $HEROKU_LOGIN
              password $HEROKU_API_KEY
            EOF

            ssh-keyscan -H heroku.com >> ~/.ssh/known_hosts

      - add_ssh_keys:
          fingerprints:
            - "ec:1c:68:6e:d7:46:29:87:af:67:46:a2:ea:a5:8e:fb"

      - run:
          command: |
            heroku git:remote -a transport-beta
            git push --force git@heroku.com:transport-beta.git HEAD:refs/heads/master
            sleep 5
            heroku restart

workflows:
  version: 2
  transport:
    jobs:
      - checkout

      - install_back:
          requires:
            - checkout

      - install_front:
          requires:
            - checkout

      - compile_assets:
          requires:
            - install_front

      - test_lint:
          requires:
            - install_back
            - install_front

      - test_unit:
          requires:
            - install_back

      - test_integration:
          requires:
            - install_back
            - compile_assets

      - test_solution:
          requires:
            - install_back
            - compile_assets

      - test_external:
          requires:
            - install_back

      - deploy:
          requires:
            - test_lint
            - test_unit
            - test_integration
            - test_solution
          filters:
            branches:
              only: master
