<div class="download_availability">
  <div class="flex_container">
    <%= for day_data <- @uptime_per_day do %>
    <div class="day <%= download_availability_class(day_data["uptime"] * 100) %>" title="<%= round_float(day_data["uptime"] * 100, 1) %>% &#13;<%= date_to_string(@conn, day_data["day"]) %>">
    </div>
    <% end %>
  </div>
</div>
