<p>
  <%= dgettext("validations-explanations", "MissingId") %>
</p>
<table class="table">
  <tr>
    <th><%= dgettext("validations-explanations", "Object type") %></th>
  </tr>

  <%= for issue <- @issues do %>
    <tr>
      <td><%= issue["object_type"] %></td>
    </tr>
  <% end %>
</table>
