<% {max_level, worst_occurrences} = @max_severity %>
<% current_category = @conn.params["issues_category"] || "" %>

<h4><%= @results_adapter.format_severity(max_level, worst_occurrences) |> String.capitalize() %></h4>
<ul class="summary">
  <%= for {category, stats} <- @validation_summary do %>
    <.netex_compatibility conn={@conn} stats={stats} results_adapter={@results_adapter} category={category} />
  <% end %>
</ul>

<%= if worst_occurrences > 0 do %>
  <div class="main-pane">
    <%= pagination_links(@conn, @issues, [@resource.id],
      issues_category: current_category,
      path: &resource_path/4,
      action: :details
    ) %>
    <%= render(netex_template(current_category), issues: @issues || [], conn: @conn) %>
  </div>
<% end %>
