<% current_category = @filter["issues_category"] || "xsd-schema" %>

<.netex_validation_report_title
  level={4}
  max_severity={@max_severity}
  results_adapter={@results_adapter}
  validation_report_url={@validation_report_url}
/>

<.netex_validation_report_content
  conn={@conn}
  current_category={current_category}
  xsd_errors={@xsd_errors}
  issues={@issues}
  results_adapter={@results_adapter}
  validation_report_url={@validation_report_url}
  validation_summary={@validation_summary}
  pagination={netex_pagination_links(@conn, @issues, @resource, current_category)}
/>
