<% locale = get_session(@conn, :locale) %>
<p :if={@metadata["start_date"] != nil and @metadata["end_date"] != nil}>
  {dgettext("validations", "It is valid from")}
  <strong>{DateTimeDisplay.format_date(@metadata["start_date"], locale)}</strong> {dgettext(
    "validations",
    "to"
  )} <strong><%= DateTimeDisplay.format_date(@metadata["end_date"], locale) %></strong>.
</p>
