<div class="choose-option">
  <%= dgettext("resource", "Give a link for the resource") %>
  <%= text_input(
        @f,
        :url,
        placeholder: "https://data.ville.fr/gtfs.zip",
        value: @resource["url"]
    ) %>
</div>
