<div class="panel">
  <p>
    <%= raw(
      dgettext(
        "validations",
        ~s(Validation carried out the %{date} using the <a href="%{validator_url}" target="_blank">MobilityData validator</a>.),
        date:
          DateTimeDisplay.format_datetime_to_paris(@multi_validation.validation_timestamp, get_session(@conn, :locale)),
        validator_url: gbfs_validator_url()
      )
    ) %>
  </p>
  <% nb_errors = errors_count(@multi_validation) %>
  <%= render("_errors_warnings_count.html", nb_errors: nb_errors, nb_warnings: 0) %>
  <%= render("_validate_gbfs_now.html", conn: @conn, resource: @resource) %>

  <%= if nb_errors > 0 do %>
    <p>
      <%= raw(
        dgettext(
          "validations",
          ~s(See <a href="%{report_url}" target="_blank">the validation report</a> online.),
          report_url: gbfs_validation_link(@resource)
        )
      ) %>
    </p>

    <%= render("_on_demand_validation_hint.html", conn: @conn, resource: @resource) %>
  <% end %>
</div>
