<% associated_gtfs = gtfs_for_gtfs_rt(@resource, @validation) %>
<%= if is_nil(associated_gtfs) do %>
  <div class="notification error full-width">
    <p>
      <%= dgettext(
        "page-dataset-details",
        "Cannot determine the relevant GTFS file to use to perform a GTFS-RT validation."
      ) %>
    </p>
  </div>
<% else %>
  <% validation_path =
    live_path(@conn, TransportWeb.Live.OnDemandValidationSelectLive,
      type: "gtfs-rt",
      selected_tile: "public-transit",
      selected_subtile: "gtfs-rt",
      url: associated_gtfs.url,
      feed_url: DB.Resource.download_url(@resource)
    ) %>
  <a class="button" href={validation_path} target="_blank" role="link">
    <i class="icon fa-check" aria-hidden="true"></i>
    <%= dgettext("validations", "Validate this GTFS-RT now") %>
  </a>
<% end %>
