<%= unless is_nil(@resource.schema_name) do %>
  <p>
    <%= raw dgettext("validations", ~s(This resource should follow its schema <a href="%{link}" target="_blank">%{schema}</a>.), schema: @resource.schema_name, link: schema_url(@resource)) %>
  </p>

  <%= if has_errors_details?(@resource) do %>
    <h4><%= dgettext("validations", "Validation details")%></h4>
    <p>
      <b>
      <% nb_errors = errors_count(@resource) %>
      <%= if nb_errors == 0 do %>
        ✅ <%= dgettext("validations", "No error detected") %>
      <% else %>
        ❌ <%= "#{nb_errors} #{dpngettext("validations", "errors", "error", "errors", nb_errors)}" %>
      <% end %>
      </b>
    </p>

    <%= if nb_errors > 0 do %>
      <p class="notification">
        <%= raw dgettext("validations", ~s(Once you have fixed your errors, you can verify that your file is valid <a href="%{link}" target="_blank">using our validators</a>.), link: validation_path(@conn, :index)) %>
      </p>
      <p><%= dgettext("validations", "Errors:")%></p>
      <ul <%= if @resource.metadata["validation"]["schema_type"] == "jsonschema" do %>lang="en"<% end %>>
        <%= for error <- errors_sample(@resource) do %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <%= if nb_errors > max_display_errors() do %>
        <p><%= dgettext("validations", "Showing only the first %{nb} errors.", nb: max_display_errors())%></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
