<% locale = get_session(@conn, :locale) %>
<div class="panel">
  <% validation = @multi_validation %>
  <% errors = Map.fetch!(validation.result, "errors") %>
  <% errors_error_level = errors |> Enum.filter(& Map.fetch!(&1, "severity") == "ERROR") %>
  <% errors_warning_level = errors |> Enum.filter(& Map.fetch!(&1, "severity") == "WARNING") %>
  <%= render "_errors_warnings_count.html", nb_errors: errors_count(@resource), nb_warnings: warnings_count(@resource) %>
  <p>
    <%= raw dgettext("validations", ~s(Validation carried out using the <a href="%{gtfs_link}">current GTFS file</a> and the <a href="%{gtfs_rt_link}">GTFS-RT</a> the %{date} using the <a href="%{validator_url}" target="_blank">CUTR GTFS-RT validator</a>.), gtfs_link: Map.fetch!(validation.result["files"], "gtfs_permanent_url"), gtfs_rt_link: Map.fetch!(validation.result["files"], "gtfs_rt_permanent_url"), date: DateTimeDisplay.format_datetime_to_paris(validation.validation_timestamp, locale), validator_url: gtfs_rt_validator_url()) %>
  </p>
  <%= unless Enum.empty?(errors_error_level) do %>
    <h4><%= dgettext("validations", "Errors")%></h4>
    <%= render "_gtfs_rt_errors_for_severity.html", errors_for_severity: errors_error_level %>
  <% end %>
  <%= unless Enum.empty?(errors_warning_level) do %>
    <h4><%= dgettext("validations", "Warnings") %></h4>
    <%= render "_gtfs_rt_errors_for_severity.html", errors_for_severity: errors_warning_level %>
  <% end %>
  <% current_gtfs = @resource.dataset |> DB.Dataset.valid_gtfs() |> Enum.reject(&DB.Resource.is_outdated?/1) |> List.first() %>
  <%= unless is_nil(current_gtfs) do %>
    <% validation_path = live_path(@conn, TransportWeb.Live.OnDemandValidationSelectLive, type: "gtfs-rt", url: current_gtfs.url, feed_url: DB.Resource.download_url(@resource)) %>
    <a class="button" href={ validation_path } target="_blank" role="link">
      <i class="icon fa-check" aria-hidden="true"></i>
      <%= dgettext("validations", "Validate this GTFS-RT now") %>
    </a>
  <% end %>
</div>
