<% gtfs_resources = Enum.filter(@resource.dataset.resources, &DB.Resource.is_gtfs?/1) %>
<%= if Enum.empty?(gtfs_resources) do %>
  <div class="notification error full-width">
    <p>
      <%= dgettext(
        "page-dataset-details",
        "Cannot determine the relevant GTFS file to use to perform a GTFS-RT validation because there are no GTFS files."
      ) %>
    </p>
  </div>
<% end %>
<%= if Enum.count(gtfs_resources) > 1 do %>
  <div class="notification error full-width">
    <p>
      <%= dgettext(
        "page-dataset-details",
        "Cannot determine the relevant GTFS file to use to perform a GTFS-RT validation because there is no GTFS file."
      ) %>
    </p>
  </div>
<% end %>
<%= if Enum.count(gtfs_resources) == 1 do %>
  <% validation_path =
    live_path(@conn, TransportWeb.Live.OnDemandValidationSelectLive,
      type: "gtfs-rt",
      url: List.first(gtfs_resources).url,
      feed_url: DB.Resource.download_url(@resource)
    ) %>
  <a class="button" href={validation_path} target="_blank" role="link">
    <i class="icon fa-check" aria-hidden="true"></i>
    <%= dgettext("validations", "Validate this GTFS-RT now") %>
  </a>
<% end %>
