<% show_schema_validation = not is_nil(@resource.schema_name) and multi_validation_performed?(@multi_validation) %>
<% show_gtfs_rt_validation = DB.Resource.is_gtfs_rt?(@resource) and multi_validation_performed?(@multi_validation) %>
<% show_gbfs_validation = DB.Resource.is_gbfs?(@resource) and multi_validation_performed?(@multi_validation) %>

<h2 id="validation-report"><%= dgettext("validations", "Validation details") %></h2>

<%= if show_schema_validation do %>
  <%= render("_validation_report_schema.html", resource: @resource, conn: @conn, multi_validation: @multi_validation) %>
<% end %>

<%= if show_gtfs_rt_validation do %>
  <%= render("_validation_report_gtfs_rt.html", resource: @resource, conn: @conn, multi_validation: @multi_validation) %>
<% end %>

<%= if show_gbfs_validation do %>
  <%= render("_validation_report_gbfs.html", resource: @resource, conn: @conn, multi_validation: @multi_validation) %>
<% end %>

<%= if not Enum.any?([show_schema_validation, show_gtfs_rt_validation, show_gbfs_validation]) do %>
  <div class="panel">
    <%= dgettext("validations", "No validation available") %>
    <%= if DB.Resource.is_gtfs_rt?(@resource) do %>
      <%= render("_validate_gtfs_rt_now.html", conn: @conn, resource: @resource) %>
    <% end %>
    <%= if DB.Resource.is_gbfs?(@resource) do %>
      <%= render("_validate_gbfs_now.html", conn: @conn, resource: @resource) %>
    <% end %>
  </div>
<% end %>
