<% show_schema_validation = not is_nil(@resource.schema_name) and multi_validation_performed?(@validation) %>
<% show_gtfs_rt_validation = DB.Resource.gtfs_rt?(@resource) and multi_validation_performed?(@validation) %>
<% show_gbfs_validation = DB.Resource.gbfs?(@resource) and multi_validation_performed?(@validation) %>
<% show_mobilitydata_gtfs_validation =
  Transport.Validators.MobilityDataGTFSValidator.mine?(@validation) and multi_validation_performed?(@validation) %>
<% show_no_validation =
  not Enum.any?([
    show_schema_validation,
    show_gtfs_rt_validation,
    show_gbfs_validation,
    show_mobilitydata_gtfs_validation
  ]) %>

<h2 id="validation-report">{dgettext("validations", "Validation details")}</h2>

<%= if show_schema_validation do %>
  {render("_validation_report_schema.html", resource: @resource, conn: @conn, validation: @validation)}
<% end %>

<%= if show_gtfs_rt_validation do %>
  {render("_validation_report_gtfs_rt.html",
    resource: @resource,
    conn: @conn,
    validation: @validation,
    latest_validations_details: @latest_validations_details
  )}
<% end %>

<%= if show_gbfs_validation do %>
  {render("_validation_report_gbfs.html", resource: @resource, conn: @conn, validation: @validation)}
<% end %>

<%= if show_mobilitydata_gtfs_validation do %>
  {render("_validation_report_mobilitydata_gtfs.html",
    resource: @resource,
    conn: @conn,
    validation: @validation,
    file_url: Map.fetch!(@validation.resource_history.payload, "permanent_url"),
    locale: get_session(@conn, :locale)
  )}
<% end %>

<%= if show_no_validation do %>
  <div class="panel">
    <div>
      {dgettext("validations", "No validation available")}
    </div>
    <%= if DB.Resource.gtfs_rt?(@resource) do %>
      {render("_validate_gtfs_rt_now.html", conn: @conn, resource: @resource, validation: @validation)}
    <% end %>
    <%= if DB.Resource.gbfs?(@resource) do %>
      {render("_validate_gbfs_now.html", conn: @conn, resource: @resource)}
    <% end %>
  </div>
<% end %>
