// Global variables.
$fa-font-path: '~font-awesome/fonts';

// External styles and libraries.
@import '~normalize.css';
@import '~bourbon/core/bourbon';
@import '~bourbon-neat/core/neat';
@import '~purecss';
// @import '~typeplate-starter-kit/dist/scss/typeplate-index';
@import '~leaflet/dist/leaflet';
@import '~font-awesome/scss/font-awesome';

// Variables: to setup globally some site standard values
@import 'variables';

// Mixins: to enhance your styles programmatically
@import 'mixins';

// Base styles: styles to be applied globally.
@import 'base';

// Layouts: header, main, footer, ...
@import 'layouts/**/*';

// Components: abstract building blocks as buttons, navigation, etc...
@import 'components/**/*';

// Contexts: special layout/component mashups, i.e. login, etc...
@import 'contexts/**/*';

// Transitional styles: hacky or dirty styles used for prototyping.
@import 'transitional';
