.illustration {
  height: 500px;
  background: url('/images/transport.svg') center center no-repeat;
  background-size: cover;
}

.tools .row {
  direction: rtl;
}

.tools .column {
  direction: ltr;
  align-self: center;
}

.cta {
  display: flex;
  align-items: center;
}

.button--fullwidth {
  width: 14em;
  margin: 0.5em;
}

@media (max-width: 899px) {
  .row {
    flex-direction: column;
  }
}
