.hero {
  background: #d7edff url("/images/transport.svg") center bottom no-repeat;
  background-size: cover;
}

.hero__container {
  color: $dark-text;
  padding: 5em 0;
  height: 45em;
  flex-direction: row;
  align-items: start;
}

.hero p,
.hero h1 {
  font-style: normal;
  color: $dark-text;
}

.hero form {
  margin-top: 2em;
}

.tools .row {
  direction: rtl;
}

.tools .column {
  direction: ltr;
  align-self: center;
}

.tools .button + .button {
  margin-top: 0.5em;
} 

.cta {
  display: flex;
  align-items: center;
  min-width: 25%;
  justify-content: center;
}

.button--fullwidth {
  text-align: center;
  width: 100%;
  margin: 0;
}

.button--fullwidth + .button--fullwidth {
  margin-left: 0;
}

@media (max-width: 899px) {
  .row {
    flex-direction: column;
  }
}
