body {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100% - 96px - 73px);
}

.hero h2 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 1.25em;
}

.navbar {
  border: 0;
}

.icon {
  margin-right: 0.5em;
}

.icon--logout {
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 1em;
}

.nav__username {
  margin-right: 1em;
}

.button {
  text-align: center;
}