<section class="dataset-container">
  <h1><%= dgettext("backoffice", "Valid datasets available") %></h1>

  <%= render("_form_dataset.html", conn: @conn, regions: @regions) %>

  <table>
  <tr>
    <th>Territoire</th>
    <th>Fin de validité</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Region</th>
    <th>Commune principale</th>
  </tr>
  <%= render_many(@datasets, TransportWeb.BackofficeView, "_dataset.html", as: :dataset, conn: @conn)%>
    </table>
</section>
