.layout-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;

  h1 {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
