// main,
// .layout-main,
// [role='main'] {
//   margin: calc(1vw + 1em) calc(8vw + 1em);
// }
section.single-page {
  max-width: 1300px;
  margin: calc(1vw + 1em) calc(8vw + 1em);
  padding: 8em;

  ul {
      margin-left: 2em;
      li {
          list-style: inside;
      }

  }

  p + h2 {
      margin-top: 2em;
  }
}
