<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='<%= gettext "Publish, improve and reuse French public transport data" %>'>
    <meta name="author" content="DINSIC">
    <meta name="csrf" content="<%= get_csrf_token() %>">

    <title><%= gettext "transport.data.gouv.fr" %></title>
    <link rel="stylesheet" media="all" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render(LayoutView, "_header.html", assigns) %>

    <main class="layout-main" role="main">
      <%= render(@view_module, @view_template, assigns) %>
    </main>

    <%= render(LayoutView, "_footer.html", assigns) %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
