.login {
  $light-gray: #eee !default;
  $font-size: calc(2vw + 1em);

  background: $light-gray;
  padding: $font-size;

  h1 {
    font-size: $font-size;
  }

  p {
    padding: 1em;
  }

  .login-actions {
    text-align: center;
  }

  [role='link'] {
    font-size: $font-size;
  }
}
