// Global styles: variables, mixins, external libraries, and so on.
@import 'globals/variables';
@import 'globals/externals';
@import 'globals/mixins';

// Components: abstract building blocks as buttons, navigation, etc...
@import 'components/aom_table';
@import 'components/autocomplete';
@import 'components/backoffice';
@import 'components/blog';
@import 'components/choose_file';
@import 'components/community-resources';
@import 'components/dataset-details';
@import 'components/discussions';
@import 'components/download_availability';
@import 'components/error';
@import 'components/explore';
@import 'components/gtfs_diff';
@import 'components/guide';
@import 'components/icons';
@import 'components/legal';
@import 'components/login';
@import 'components/logo';
@import 'components/landing_page_vls';
@import 'components/mail';
@import 'components/mailing-list';
@import 'components/map-js';
@import 'components/message';
@import 'components/notification';
@import 'components/pagination';
@import 'components/resource-details';
@import 'components/search';
@import 'components/shortlist';
@import 'components/stats';
@import 'components/tooltip';
@import 'components/validation';
@import 'components/feedback';

// States: microinteractions...
@import 'states';

@import 'main';

// Pages
@import 'home';
@import 'datasets';
@import 'producteurs';
@import 'espace_producteur';
@import 'climate_resilience_bill';
@import 'reuser_space';
@import 'reuses';

// Prism for syntax coloring ; TODO: cherry-pick from the npm package instead
// (and remove the manual download)
@import 'prism';

.siri_xml {
  pre {
    padding-top: 0;
    padding-left: 1em;
    padding-bottom: 0;
    // TODO: investigate; without this, a big space on left is appearing
    white-space: normal;
  }

  code {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}
