// Global styles: variables, mixins, external libraries, and so on.
@import 'globals/variables';
@import 'globals/externals';
@import 'globals/mixins';

// Components: abstract building blocks as buttons, navigation, etc...
@import 'components/**/*';

// States: microinteractions...
@import 'states';

@import 'main';

// Pages
@import 'home';
@import 'datasets';
@import 'producteurs';
