.dataset-container {
  .form__group {
    margin-bottom: 2em;
  }
}

.transparent {
  background: transparent;
}

.side-pane img {
  max-width: 100%;
}

.small {
  color: #aaa;
  font-size: 12px;
}

#dataset-visualisation .leaflet-popup-content {
  max-height: 200px;
}

.container_min_height {
  min-height: 50vh;
}

.gtfs-diff-selector {
position: sticky;
top: 70px;
display: flex;
flex-direction:row-reverse;
z-index: 1000;
div {
  padding: 10px;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  max-width: 300px;
  margin-right: 10px;
}
.hidden {
  display: none;
}
.gtfs-diff-url {
  display: flex;
  align-items: center;
  padding: 6px 0 0 0;
  .icon {
    padding-left: 6px;
  }
}
}

.gtfs_diff_button {
  cursor: pointer;
}
