.dataset-container {
  .form__group {
    margin-bottom: 2em;
  }
}

.transparent {
  background: transparent;
}

.side-pane img {
  max-width: 100%;
}

.small {
  color: #aaa;
  font-size: 12px;
}

#dataset-visualisation .leaflet-popup-content {
  max-height: 200px;
}

.container_min_height {
  min-height: 50vh;
}
