.tramway {
  text-align: right;
  width: 50vw;
  position: relative;
  height: 0;
  margin: 0 0 0 auto;
  padding-right: 48px;
  img {
    position: absolute;
    bottom: 0;
    right: 20px;
    max-height: 36px;
    max-width: 100%;
  }
}

.producer-actions {
  background-color: var(--theme-background-grey);
  padding-top: 24px;
  padding-bottom: 48px;
}

.producer-space {
  background-color: var(--theme-background-grey);
  min-height: 80vh;

  a.button.primary, button.button.primary {
    background-color: var(--primary-color-producer);
  }
  a.button-outline.primary, button.button-outline.primary {
    color: var(--primary-color-producer);
    border-color: var(--primary-color-producer);
    &.small-padding {
      padding: var(--space-xs);
    }
  }
  a.button-outline.reuser, button.button-outline.reuser  {
    color: var(--primary-color-reuser);
    border-color: var(--primary-color-reuser);
  }
}

.panel .left-flex-image {
  display: flex;
  img {
    padding-right: 12px;
  }
}

.no-underline a {
  text-decoration: none;
}