.tramway {
  text-align: right;
  width: 50vw;
  position: relative;
  height: 0;
  margin: 0 0 0 auto;
  padding-right: 48px;
  img {
    position: absolute;
    bottom: 0;
    right: 20px;
    max-height: 36px;
    max-width: 100%;
  }
}

.producer-space {
  background-color: var(--theme-background-grey);
  min-height: 80vh;

  .button.primary {
    background-color: var(--primary-color-producer);
  }
  .button-outline.primary {
    color: var(--primary-color-producer);
    border-color: var(--primary-color-producer);
  }
  .button-outline.reuser {
    color: var(--primary-color-reuser);
    border-color: var(--primary-color-reuser);
  }
}

.panel .left-flex-image {
  display: flex;
  img {
    padding-right: 12px;
  }
}
