html {
  scroll-behavior: smooth;
}

.hero.home-hero {
  background: #fff url("/images/transport.svg") center bottom no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  min-height: 800px;
}

.home-hero .hero__container {
  height: 44em;
  align-items: start;
}

.hero p,
.hero h1 {
  font-style: normal;
  color: $dark-text;
}

.hero form {
  margin: 0;
  max-width: 400px;
}

.dropdown-content {
  min-width: 200px;
}

.home-top-content {
  display: flex;
  flex-wrap: nowrap; //wrapping is done with media queries
  .home-title {
    flex-basis: 50%;
    min-width: 350px;
    padding-right: 96px;
    h1 {
      font-size: 2.5em;
    }
    h2 {
      margin-top: 2em;
      font-size: 1.5em;
      font-weight: normal;
    }
  }
  .home-search {
    flex-basis: 50%;
    min-width: 350px;
    padding-top: 24px;
    padding-left: 48px;
    border-left: 5px solid var(--theme-primary);
    .home-other-search-methods {
      display: flex;
      justify-content: space-between;
      .search-method {
        flex-basis: 200px;
        padding: 12px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        img {
          max-width: 75px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .home-top-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .home-title {
      padding-right: 0;
      h2 {
        margin-top: 1em;
      }
    }
    .home-search {
      border: none;
      padding-left: 0px;
      text-align: center;
      form {
        margin: 0 auto;
      }
    }
    .search-method {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      margin: 0 12px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }
      a {
        background-color: initial;
      }
    }
  }
}

#chevron-hint {
  // display: none;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  animation: bouncing 2s 3 ease-in-out;
  @media only screen and (max-height: 870px) and (min-height: 470px) {
    display: block;
  }
  @media only screen and (min-height: 870px) and (max-height: 910px) and (min-height: 470px) {
    display: block;
    margin-bottom: 40px;
  }
  .fa-circle {
    opacity: 0.85;
  }
}

@keyframes bouncing {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}

#pan-offer-descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 48px;
  .pan-offer {
    text-align: center;
    padding: 1em;
    margin: 1em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    .pan-offer-subtitle {
      font-size: 0.75em;
      font-weight: normal;
    }
  }
}

a.tile {
  color: $almost-black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

a.tile:hover {
  background: $lighter-blue;
  border-radius: 0;
}

.tile h3 {
  line-height: 1.25em;
}

.tile__icon {
  height: 4em;
  margin-right: 2em;
}

.grid.available-data {
  grid-gap: 1.5em !important;
  grid-auto-rows: 1fr;
  .tile__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.upcoming {
  margin-top: 5em;

  .grid {
    color: $grey;
    grid-gap: 1.5em !important;

    .tile {
      flex-direction: row;
      transform: none;

      h3 {
        font-size: 1.25em;
        margin: 0 0 0 1em;
      }

      .tile__icon {
        height: 3em;
      }
    }
  }

  a {
    margin-top: 2em;
    display: inline-block;
  }
}

.section__description .row {
  justify-content: start;
  align-items: center;
}

.section__description .key-numbers {
  margin: 2em 2em 2em 0;
  justify-content: space-between;
}

.key-numbers strong {
  font-size: 3em;
  font-family: Evolventa;
  margin-right: 0.2em;
}

.key-number__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.illustration {
  height: 13em;
}

.section__description {
  flex-grow: 1;
}

.section__description p {
  margin-bottom: 2em;
}

.deployment-map {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
}

.reusers__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.reusers img {
  margin: 2em;
  height: 48px;
}

@media (max-width: 899px) {
  .row {
    flex-direction: column;
  }

  .row * + * {
    margin-left: 0;
    margin-top: 1em;
  }

  h2 {
    text-align: center;
  }

  .key-numbers.row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
  }

  .key-number__item + .key-number__item {
    margin-top: 2em;
  }

  .key-number__item > * {
    margin: 0;
  }

  .section__description {
    order: 2;
  }

  .section__description p {
    text-align: center;
  }

  .illustration {
    order: 1;
    margin: 0 0 2em;
  }
}

.footer__logo {
  width: initial;
}

.footer__logo .ministere-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  &:hover {
    background: var(--darker-grey);
  }
}
