body {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100% - 96px - 73px);
}

.hero {
  background: $white;
}

.hero__container {
  color: $dark-text;
  padding: 5em 0;
  flex-direction: row;
  align-items: center;
}

.hero h2 {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.25em;
}

.navbar {
  border: 0;
}

// Note: to be removed when the new Design System is used
.navbar__home {
  height: 70px;
}

.icon {
  margin-right: 0.5em;
}

.icon--logout {
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
}

nav.navigation input {
  display: none;
}

.nav__hamburger {
  display: none;
}

.nav__avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0.5px solid;
  vertical-align: middle;
}

.nav__username {
  margin-right: 1em;
}

.button {
  text-align: center;
}

#menu > a {
  display: none;
}

// Note: to be removed when the new Design System is used
#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Note: to be removed when the new Design System is used
.navbar__container {
  nav {
    flex-grow: 1;
    .top-nav-links {
      align-self: flex-end;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .navbar__container {
    align-items: center;
    flex-direction: row-reverse;

    nav {
      flex: 1;
    }

    .nav__hamburger {
      display: block;
      width: 7vw;
      height: 100%;
      z-index: 1;

      div {
        background-color: $black;
        border-radius: 3px;
        height: 4px;
        margin-bottom: 0.5vh;
        width: 100%;
      }
    }

    .navbar__home {
      max-width: 85%;
    }

    nav div.nav__hamburger {
      vertical-align: text-top;
    }

    #menu {
      display: none;
    }

    #menu:target {
      background: $white;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;

      & > a {
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 2em;
        width: 1em;
      }

      ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        li {
          line-height: 3em;
        }
      }
    }
  }

  .hero__container {
    padding: 0.5em 0;
  }
}

.input__group .button {
  margin-left: var(--space-s) !important;
}
