body {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100% - 96px - 73px);
}

.hero {
  background: $white;
}

.hero__container {
  color: $dark-text;
  padding: 5em 0;
  flex-direction: row;
  align-items: center;
}

.hero h2 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 1.25em;
}

.navbar {
  border: 0;
}

// Note: to be removed when the new Design System is used
.navbar__home {
  height: 100px;
}

.nav__links {
  display: flex;
  align-items: center;
}

nav.navigation input {
  display: none;
}

.nav__hamburger {
  display: none;
}

.nav__avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 0.5px solid;
  vertical-align: middle;
}

.nav__item > a {
  display: inline-block;
  min-height: 24px;
  padding: 0.4em 0.8em;
}

.navbar__logo-mariane {
  height: 90%;
  margin-right: 1em;
}

.navbar__logo-black {
  max-width: 300px;
  height: 100%;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.button {
  text-align: center;
}

.button-outline.no-border {
  border: none;
}

.inline-block {
  display: inline-block;
}

#close-menu {
  display: none;
}

// Note: to be removed when the new Design System is used
#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Note: to be removed when the new Design System is used
.navbar__container {
  nav {
    flex-grow: 1;
    .top-nav-links {
      align-self: flex-end;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .navbar__container {
    align-items: center;
    flex-direction: row-reverse;

    nav {
      flex: 1;
    }

    nav .nav__hamburger {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      color: black;
      border: none;
      margin-inline: 1rem;
      vertical-align: text-top;
    }

    .navbar__home {
      max-width: 85%;
    }

    #menu {
      display: none;
    }

    #close-menu {
      text-decoration: none;
    }

    #menu:target {
      background: $white;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;

      & > a {
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 2em;
        width: 1em;
      }

      ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        li {
          line-height: 3em;
        }
      }
    }
  }

  .hero__container {
    padding: 0.5em 0;
  }
}

.input__group .button {
  margin-left: var(--space-s) !important;
}

.user-name-display, a.with-badge {
  display: flex;
  align-items: center;
  gap: 0.5em;
  .notification_badge {
    align-self: start;
    transform: translateY(-0.4em);
  }
}

.nav__item .language {
  vertical-align: middle;
}

.no-margin {
  margin: 0;
}

.explore_map {
  width: 100vw;
  height: 80vh;
  border-top: 1px solid #ccc;
  z-index: 0;
}

iframe#dailymotion-video {
  height: 500px;
}
