.with-gradient {
  background: rgb(215, 232, 255);
  background: linear-gradient(
    0deg,
    rgba(215, 232, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}

.tgv {
  width: 50vw;
  position: relative;
  height: 0;
  bottom: 17px;
  margin: 0 0 0 auto;
}

.producteurs-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  .producteurs-presentation {
    display: flex;
    flex-wrap: wrap;
    section {
      flex-basis: 25%;
      flex-grow: 1;
      max-width: 51%;
      padding: 24px;
      margin: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .presentation-action {
      flex-grow: 0;
    }
  }
  .presentation-icon {
    text-align: center;
    font-size: 3em;
  }
}

.why-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  section {
    flex-basis: 40%;
    flex-grow: 0;
    text-align: left;
    display: flex;
    align-items: flex-start;
    .why-section-picto {
      flex-basis: 96px;
      flex-grow: 0;
      min-width: 96px;
      img {
        width: 100%;
      }
    }
    .why-section-text {
      padding-left: 24px;
    }
  }
  .panel {
    margin: 0;
  }
}

.section-why {
  background-image: url("/images/producteurs/chariot-donnees.svg");
  background-repeat: no-repeat;
  background-position: bottom 10px left 20px;
  background-size: 15%;
  padding-bottom: 96px;
}

.producteurs-section {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .producteurs-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .panel-producteurs {
      border-left: 5px solid var(--theme-primary);
      padding: 24px;
      flex-basis: 250px;
      flex-grow: 1;
    }
    .producteurs-title {
      padding-right: 48px;
      flex-basis: 50%;
    }
  }
}

.slack-logo {
  max-width: 200px;
  img {
    width: 100%;
  }
}

.twitter-logo {
  max-width: 100px;
  img {
    width: 100%;
  }
}
