.reuser-space {
  padding-top: 24px;

  .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;

    &> * {
      max-width: 22em;
      margin-right: var(--space-m);
      margin-left: 0;
    }

    .dataset__panel {
      margin-top: 1em;
    }
  }
}

.reuser-space-section {
  background-color: var(--theme-background-grey);
  min-height: 80vh;
}

.action-panel {
  display: flex;

  img.picto {
    height: 40px;
    padding-right: 12px;
    margin-top: -5px;
  }

  a.button {
    background-color: var(--primary-color-reuser);
  }
}

form.search-followed-datasets {
  max-width: 100%;

  input#search {
    padding-left: 30px;
    width: 350px;
  }

  .form__group {
    margin-top: 0;
    display: inline-block;
  }
}

.align-right {
  text-align: right;
}

form.full-width {
  max-width: 100%;
}
form.inline {
  display: inline;
}
