input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.7em 1.4em;
  font: inherit;
  line-height: 1.6;
  color: $black;
  border-radius: $border-radius;
  box-sizing: border-box;
  border: 0.1em solid $border;
  background: $background-white;
  vertical-align: middle;
  position: relative;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $background-white url("/images/arrow-down.svg") no-repeat;
  background-position: center right 1em;
  background-size: 1.4em;
  padding: 0.9em 3em 0.9em 3em;
  border-radius: $border-radius;
}

input:focus,
textarea:focus,
select:focus{
  background-color: $background-white;
  border-color: $primary;
  transition: border-color 0.2s ease-out;
}

label,
legend {
  display: block;
  margin-bottom: 0.5em;
  color: $almost-black;
}

label.label-inline {
  display: inline;
  color: $black;
}

.label-inline + input[type=radio],
.label-inline + input[type=checkbox] {
  margin-left: 0.9em;
}

.form__container {
  max-width: 30em;
  margin: auto;
}

.form__group {
  display: block;
  margin-bottom: 1em;
}

.form__group + .form__group {
  margin-top: 2em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search__group {
  position: relative;
}

.overlay-button {
  position: absolute;
  right: 2em;
  top: 1.25em;
  background: 0;
  border: 0;
  width: 15px;
  height: 15px;
}

.overlayed-button .icon-search {
  height: 15px;
  width: 15px;
}
