input,
textarea {
  width: 100%;
  outline: none;
  padding: 10px 15px;
  font: inherit;
  line-height: 1.6;
  color: $black;
  border-radius: $border-radius;
  box-sizing: border-box;
  border: 1px solid $border;
  background: $background-white;
  vertical-align: middle;
  position: relative;
}

input:focus,
textarea:focus {
  background-color: $background-white;
  border-color: $primary;
  transition: border-color 0.2s ease-out;
}

input[type=radio],
input[type=checkbox] {
  margin-right: 6px;
  margin-top: 0;
}

input[type=radio]:empty,
input[type=checkbox]:empty {
  background-color: $background-grey;
}

input[type=radio] {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  appearance: none;
  padding: 0;
}

input[type=radio]::before {
  content: '';
  border-color: $primary;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  transform: scale(0);
}

input[type=radio]:checked {
  background-color: $background-white;
  border-color: $primary;
  opacity: 1;
}

input[type=radio]:checked::before {
  background-color: $primary;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

label,
legend {
  display: block;
  margin-bottom: 0.5em;
  color: $almost-black;
}

label.label-inline {
  display: inline;
  color: $black;
}

.label-inline + input[type=radio],
.label-inline + input[type=checkbox] {
  margin-left: 10px;
}

.form__container {
  max-width: 30em;
  margin: auto;
}

.form__group {
  display: block;
  margin-bottom: 1em;
}

.form__group + .form__group {
  margin-top: 2em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
