* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  background: $background-grey;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

section {
  background: $background-white;
  color: $black;
  padding: 3em 1em;
}

a {
  &,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: $primary;
    cursor: pointer;
  }
}
