body {
  font-family: $font-family-primary;
  font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: calc(4vw + .5em);
}

h2 {
  font-size: calc(.5vw + 1em);
}

a {
  outline: none;

  &,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
  }
}
