body {
  font-family: $font-family-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
}

h1,
h2 {
  text-align: center;
}



p {
  line-height: 1.5;
}

a {
  outline: none;

  &,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
  }
}
