body {
  font-family: $font-family-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .85em;
}

a,
[role='link'] {
  font-size: 1em;
}

p {
  font-size: 1em;
  line-height: 1.5;
  padding: 1em;
}

a {
  outline: none;

  &,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  font-size: 1em;
}

section {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: .85em;
    text-transform: uppercase;
  }
}
