@import '~normalize.css';

$black: hsl(0, 0%, 10%);

html,
body {
  height: 100%;
}

body {
  font-family: 'Hurme-No3', sans-serif;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

h1 {
  color: $black;
  font-size: calc(4vw + 1em);
}
