<p>Bonjour,</p>

<p>Voici un résumé de vos jeux de données favoris arrivant à expiration.</p>

{raw(@expiration_content)}

<p>Nous vous invitons à contacter les producteurs via la discussion du jeu de données si besoin.</p>

<p>
  Pour rappel, vous pouvez paramétrer vos alertes sur le suivi de vos jeux de données favoris depuis votre {link_for_reuser_space(
    :expiration_reuser
  )}.
</p>

<p>À bientôt,</p>

<p>L’équipe transport.data.gouv.fr</p>
