<p>Bonjour,</p>

<p>
  Des discussions ont eu lieu sur certains de vos jeux de données favoris. Vous pouvez prendre connaissance de ces échanges.
</p>

<ul>
  <%= for dataset <- @datasets do %>
    <li><%= link_for_dataset_section(dataset, :discussion) %></li>
  <% end %>
</ul>

<p>
  L’équipe transport.data.gouv.fr
</p>
