<p>Bonjour,</p>

<p>Il n'est pas possible de détecter automatiquement les opérateurs des flux GBFS suivants :</p>

<ul>
  {raw(@list)}
</ul>

<p>
  La configuration peut être modifiée <a href="https://github.com/etalab/transport-site/blob/master/apps/transport/priv/gbfs_operators.csv">sur GitHub</a>.
</p>

<p>L’équipe transport.data.gouv.fr</p>
