<h2>Conditions d'utilisation</h2>
<p>
    La réutilisation des informations disponibles sur transport.data.gouv.fr est soumise à la licence ODbL.
</p>
<p>
    Il est précisé que la clause de partage à l’identique figurant à l’article 4.4 concerne les informations de même nature, de même granularité, de même conditions temporelles et de même emprise géographique.
</p>
