$small-font-size: .75em;
$light-green: #e6efc2 !default;
$light-yellow: #fff6bf !default;
$light-red: #fbe3e4 !default;
$light-pink: #e5edf8 !default;
$grey: #999 !default;

$badges: (
  'alert': $light-yellow,
  'default': $grey,
  'error': $light-red,
  'notice': $light-pink,
  'success': $light-green,
) !default;

@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    line-height: 1;
    padding: .4em 1.2em;
  }
}
