.cards {
  @extend .layout-container;
  display: block;
}

@include media-tablet-up {
  .cards {
    display: flex;
  }
}

.card {
  @extend .layout-column;
  border: 1px solid $lighter-grey;
  border-radius: 3px;
  margin-bottom: 2em;

  & > div {
    margin-bottom: 1em;
    text-align: center;
  }

  & > .image > img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
    width: 100px;
  }

  .details {
    border-bottom: 1px solid $lighter-grey;
  }
}

@include media-tablet-up {
  .card {
    flex: 0 0 48%;
  }
}

@include media-desktop-up {
  .card {
    flex: 0 0 32%;
  }
}

.card--fullwidth {
  background: none;
  border: 0;
  flex: 1;
  text-align: center;
}
