communityresources {
  h1 {
    background-color: $light-grey;
  }

  h2 {
    font-size: 1.4em;
  }

  p {
    margin: 0;
  }

  .community-resources__logo {
    min-width: 3em;
    min-height: 3em;
  }

  .community-resources__side-pan {
    margin-right: 4em;
    position: relative;

    h3 {
      font-size: .9em;
      bottom: 0;
    }
  }

  .community-resources__organization-name {
    position: absolute;
    bottom: 0;
  }

  li {
    border-bottom: 1px solid transparentize($dark-grey, .3);
    margin-bottom: 1.3em;
  }
}
