.container {
  @include media-tablet-up {
    padding: 0;
    width: 85%;
  }

  @include media-desktop-up {
    width: 80%;
  }

  box-sizing: border-box;
  margin: 0 auto;
  max-width: 80em;
  padding: 0 20px;
  position: relative;
  width: 100%;
}
