div.dataset-details__side-pane {
  background: $background-white;
  border: none;

  img {
    padding-bottom: 3em;
    min-width: 0;
  }

  button {
    margin-top: 3em;
  }
}

.dataset-details__discussions {
  margin-top: 6em;

  h1 {
    background-color: $light-grey;
  }

  discussions {
    h1 {
      background-color: $white;
    }
  }
}

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    display: inline;
    float: left;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    span:last-child {
      color: $stats-color;
      font-size: 1.2em;
      line-height: 1.1em;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

div.dataset-details__validation {
  table {
    width: 80%;
    margin: auto;
  }
  td, th {
    padding: 8px;
    font-size: 90%;
  }
  tbody {
    width: 100%;
  }

  .collapse{
    cursor: pointer;
    display: block;
  }
  .collapse + input{
    display: none; /* hide the checkboxes */
  }
  .collapse + input + table {
    display:none;
  }
  .collapse + input:checked + table {
    display:table;
  }
}
