div.dataset-details__side-pane {
  background: $background-white;
  border: 0;

  .shortlist-details {
    margin-top: 2em;
  }

  .side-pane__title {
    margin-top: 3em;
  }

  img {
    padding-bottom: 2em;
  }

  .shortlist-publish {
    margin-top: 2em;
  }
}


.dataset-details {
  h2:first-child {
    margin-top: 2em;
  }

  .shortlist__notice + .shortlist__notice {
    margin-top: 1em;
  }
}