.dataset-details__side-pan {
  padding-right: 2em;
  width: 20%;

  img {
    padding-bottom: 3em;
    min-width: 0;
  }

  button {
    margin-top: 3em;
  }
}

.dataset-details__main-pan {
  width: 80%;
}

.dataset-details__discussions {
  margin-top: 6em;

  h1 {
    background-color: $light-grey;
  }

  discussions {
    h1 {
      background-color: $white;
    }
  }
}

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

