discussions {
  h1 {
    font-size: 1.2em;
    margin-bottom: .2em;
    text-align: left;
  }

  .discussion-comment {
    padding-left: 1em;
    margin-bottom: 1em;
  }

  .discussion-comment__form {
    padding-left: 1em;
  }

  .discussion-commment__connection-needed {
    font-style: italic;
  }

  textarea {
    height: 10em;
    width: 70%;
  }

  input {
    width: 70%;
  }

  .discussion__post {
    padding-top: 2em;
  }
}
