.discussion {

  .discussion-comment {
    border-left: 5px solid #c9d3df;
    background-color: #ebeff3;
    padding: 1em;
  }

  .discussion-comment + .discussion-comment {
    margin-top: 1em;
  }

  .discussion-comment__content p:last-child {
    margin-bottom: 0;
  }

  textarea {
    height: 10em;
  }

  .discussion__post {
    padding-top: 2em;
  }
}
