%divider {
  background-image: url('../images/divider.png');
  background-position: right 0 top 50%;
  background-repeat: no-repeat;
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
}

.divider {
  display: table;
  font-size: modular-scale(1);
  margin-bottom: 2em;
  text-transform: uppercase;
  white-space: nowrap;

  &::before,
  &::after {
    @extend %divider;
  }
}
