.documentation {
  display: flex;
}

.side-pane {
  background: $background-grey;
  padding: 1em;
  flex: 0 0 1em;
  border-right: 1px solid $border-lighter;
}

.side-pane ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-pane__title {
  padding: 0 1em;
}

.side-pane .side-pane__link a {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 0.5em;
  color: $dark-text;
}

.side-pane .side-pane__link:hover a {
  background: $light-grey;
  transition: background ease-out 0.5s;
}

.side-pane .side-pane__link.active a {
  color: $white;
}

.main-pane {
  padding: 3em;
  background: $white;
  flex: 1;
}

.main-pane h1:first-child {
  margin-top: 0;
}

@include mobile {
  .documentation {
    flex-direction: column;
  }

  .side-pane {
    border-right: none;
    border-bottom: 1px solid $border-lighter;
    flex: auto;
  }
}
