.footer-help--on {
  background-color: $blue;
  border-radius: 50px;
  bottom: 1em;
  color: $white;
  font-size: 1.3em;
  position: fixed;
  right: 1em;
  text-align: center;
  z-index: 10000;
  padding: 0.5em;
  width: 50px;
  height: 50px;
}

.footer-help--on:hover {
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
}

.footer-help__contact {
  background-color: $background-grey;
  border: 1px solid $border-active;
  bottom: 1em;
  padding: 1em;
  position: fixed;
  right: 1em;
  width: 90%;
  z-index: 10000;
}

.footer-help__contact--header {
  color: $blue;

  h6 {
    margin: 10px;
  }
}

.footer-help__contact--close {
  color: $blue;
  float: right;

  &:hover {
    color: $dark-blue;
  }
}

.footer-help__message {
  bottom: 1em;
  color: $white;
  padding: 1em;
  position: fixed;
  right: 1em;
  z-index: 10000;
}

.footer-help__message--error {
    background-color: $background-message-error
}

.footer-help__message--success {
    background-color: $green
}

.footer-help__contact {
  textarea {
    height: 20em;
  }
}

@include media-desktop-up {
    .footer-help__contact {
       width: 40em;
    }

    .footer-help__alwayson {
       bottom: 2.5em;
    }

    .footer-help__contact {
       bottom: 2.5em;
    }
}
