header,
[role='banner'] {
  background: $background-white;
  border-bottom: 1px solid $box-shadow;
  box-shadow: 0 1px 4px $box-shadow;
}

.header__container {
  @extend .layout-container;
}

.header__logo {
  width: 60%;
}

@include media-tablet-up {
  .header__logo {
    width: 45%;
  }
}

@include media-desktop-up {
  .header__logo {
    width: 30%;
  }
}

.header__avatar {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
  min-width: 0;
}
