.hero__container {
  @extend .layout-container;
  display: block;
}

@include media-tablet-up {
  .hero__container {
    display: flex;
  }
}

.hero__column {
  @extend .layout-column;
  margin: 1em;
}

.hero__links {
  margin-top: 5em;

  [role='link'] {
    margin-bottom: 1em;
  }
}
