.hero__container {
  padding: 0;
  position: relative;
}

.hero__title {
  position: absolute;
  z-index: 100;
  background: transparentize($blue, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.5s;
}

.hero__title markdown {
  width: 90%;
}

.hero__container:hover .hero__title {
  opacity: 0;
  pointer-events: none;
}

.hero__map {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.hero h1,
.hero p {
  color: $white;
  font-style: initial;
}
