$small-font-size: .75em;
$light-green: #daf5e7 !default;
$light-orange: #fff0e4 !default;
$light-red: #efaca6 !default;
$lighter-blue: #b4e1fa !default;
$grey: #999 !default;

$labels: (
  'alert': $light-orange,
  'default': $grey,
  'error': $light-red,
  'notice': $lighter-blue,
  'success': $light-green,
) !default;

@each $label-type, $color in $labels {
  .label.label-#{$label-type} {
    background-color: $color;
    display: inline-block;
  }
}
