.list {
  padding: 1em;
}

.list__item {
  @extend .layout-container;
  padding: .5em 1em;
}

.list__item--icon {
  @extend .layout-column;
  flex: 0 0 5%;
  margin-right: 1em;
}

.list__item--content {
  @extend .layout-column;
}
