#login {
  h1 {
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 1.5em;
  }

  .list__item {
    display: flex;
  }

  .list__item + .list__item {
    margin-top: 1em;
  }

  .list__item--content {
    margin-left: 1em;
  }
}