// .mailing-list {
//     margin-top: 2em;
// }

.mailing-list__container {
    max-width: 40em;
    margin: auto;
}

.mailing-list__button {
    max-width: 40em;
    margin: auto;
    margin-top: 1em;

    button {
        width: 100%;
    }
}

.mailing-list__slack-container {
    margin: 1em 0;
    text-align: center;
}

.mailing-list__slack-img {
    height: 20px;
    min-width: 20px;
}
