[role='navigation'] {
  @include media-tablet-up {
    height: modular-scale(3);
  }

  float: right;
  height: modular-scale(1);

  .navigation__link {
    @include media-tablet-up {
      line-height: modular-scale(3);
    }

    color: $white;
    line-height: modular-scale(1);
  }
}
