[role='navigation'] {
  display: inline;
  list-style-type: none;
  margin: 0;
  text-align: right;
}

.navigation__links {
  padding: 1em;

  a {
    color: $black;
    padding: .4em .8em;

    &::after {
      content: none;
    }
  }
}
