organization-search {
  $width: 500px;
  $lightblue: #e6e6fa;
  $grey: #eee;

  input {
    background: $grey;
    border: 0 none;
    border-radius: 10px;
    padding: 10px;
    width: $width;
  }

  section.organizations {
    padding-top: 2em;
    margin-left: 1em;
    organization {
      section {
        border-bottom: 1px solid $lightblue;

        h1 {
          font-size: 1em;
          text-align: left;
          margin-bottom: 0.2em;
          margin-top: 1.5em;
        }

        p {
          margin: 0;
          margin-left: 0.5em;
        }
      }
    }
  }
}
