organizations-search {
  $width: 500px;

  input {
    background: $grey;
    border: 0 none;
    border-radius: 10px;
    padding: 10px;
    width: $width;
  }

  .organizations {
    margin-left: 1em;
    padding-top: 2em;

    organization {
      a {
        color: $black;
        text-decoration: none;

        &:hover {
          h1 {
            text-decoration: underline;
          }

          section {
            background-color: $lighterblue;
          }
        }
      }


      section {
        border-bottom: 1px solid $lightblue;

        h1 {
          font-size: 1em;
          margin-bottom: .2em;
          margin-top: 1.5em;
          text-align: left;
        }

        p {
          margin: 0;
          margin-left: .5em;
        }
      }
    }
  }
}

.organization {
  h1 {
    text-align: left;
  }

  [role='link'] {
    &.navigation-join {
      @extend .button-success;
      @extend .fa;
      @extend .fa-handshake-o;

      @include desktop {
        display: block;
      }

      @include tablet {
        display: block;
      }

      display: none;
    }
  }

  .actions {
    list-style: none;
    width: 200px;
  }
}
