organization-search {
  $width: 500px;
  $lightblue: #eeeeff;
  $lighterblue: #f7fBfa;
  $grey: #eee;

  input {
    background: $grey;
    border: 0 none;
    border-radius: 10px;
    padding: 10px;
    width: $width;
  }

  .organizations {
    margin-left: 1em;
    padding-top: 2em;

    organization {
      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        h1 {
          text-decoration: underline;
        }
        section {
          background-color: $lighterblue;
        }
      }

      section {
        border-bottom: 1px solid $lightblue;

        h1 {
          font-size: 1em;
          margin-bottom: .2em;
          margin-top: 1.5em;
          text-align: left;
        }

        p {
          margin: 0;
          margin-left: .5em;
        }
      }
    }
  }
}
