ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li.active a {
        color: $blue;
        background-color: $white;
        border: 0.1em solid $blue;
    }

    li a {
        display: inline-block;
        padding: 0.5em;
        margin: 0.2em;
        color: $blue;
        background-color: $white;
        border-radius: 3px;
        border: 0;
        position: relative;
        top: 0;
        overflow: hidden;
        text-decoration: none;

        &:hover {
            background-color: $light-blue;
            color: $grey;
        }
    }
}