.panel {
    background: $background-white;
    border-radius: 2px;
    box-shadow: $box-shadow;
    padding: 2em;
    position: relative;
    border: 1px solid $border-lighter;
  }
  
  .panel + * {
    margin-top: 2em;
  }
  
  .panel > :first-child {
    margin-top: 0;
  }
  
  .panel > :last-child {
    margin-bottom: 0;
  }
  
  .panel__header::after {
    content: '';
    display: block;
    width: calc(100% + 4em);
    position: relative;
    left: -2em;
    border-bottom: 1px solid $border-lighter;
    margin: 2em 0;
  }
  
  .panel__header h3 {
    display: inline-block;
  }
  
  .panel__header h3:first-of-type {
    margin: 0;
  }
  
  .panel__header-extra {
    margin-left: 1em;
    color: $label-text;
    display: inline-block;
  }
  
  @media (--smaller-than-phablet) {
    .panel__header-extra {
      margin: 0;
    }
  }
  
