shortlist {
  section {
    border-bottom: 1px solid;
    min-height: 120px;
  }

  img {
    float: left;
    margin-right: 20px;
  }

  h1 {
    font-size: 1em;
    text-align: left;
    margin: 0px;
    margin-top: 60px;
  }

  .download {
    margin-right: 30px;
  }

  .details {
    float: right;
    div {
      display: block;
      float: right;
      width: 250px;
    }
  }

  markdown {
    div {
      color: #777;
      display: block;
      line-height: 1.8em;
      margin-left: 20px;
      max-height: 3.6em;
      overflow: hidden;
      margin-bottom: 1em;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  footer {
    padding-left: 120px;
    a {
      text-decoration: none;
      color: #000;
    }
    a:hover {
      text-decoration: line-through;
      color: #777;
    }
  }

}

