validation {
  .validation__title {
    background-color: $light-grey;
  }

  .validation__chooser {
    margin-bottom: 2em;
  }

  .validation__pagination {
    margin-top: 2em;
  }

  .validation__message {
    margin-top: .5em;
  }

  table {
    width: 100%;
    text-align: left;
  }
}
