.aom_table {
  td {
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: $lighter-grey;
  }

  th {
    padding-right: 20px;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }

    &:after {
      content: '';
      height: 30px;
      width: 15px;
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
      background: url('/images/icons/unsorted.svg');
      background-size: cover;
    }

    &.asc:after {
      background: url('/images/icons/sorted_asc.svg');
      background-size: cover;
    }

    &.desc:after {
      background: url('/images/icons/sorted_desc.svg');
      background-size: cover;
    }
  }
}
