.backoffice-datasets {
  td {
    div {
      display: flex;
      justify-content: center;
      .success {
        background-color: var(--green);
      }
      button {
        flex-shrink: 2;
      }
    }
  }
}

.separator {
  text-align: center;
}

.panel__content * {
  margin-top: 0.5em;
}
