.dataset_import_validations_logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  th,
  td {
    padding: 0 3px 0 3px;
  }
  table,
  th,
  td {
    border: 1px solid var(--light-grey);
    border-collapse: collapse;
  }
}

.backoffice-datasets {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid black;
  th {
    text-align: left;
    border: 0px solid black;
  }
  td {
    border: 0px solid black;
    padding: 2px;
  }
  tr {
    padding: 6px;
    height: 50px;
  }
  tr:hover {
    background-color: #ebebeb;
  }
  tr:first-of-type > th:first-of-type {
    width: 250px;
  }
}

.bo_dataset_button {
  form > button,
  div > button {
    padding: 2px;
    margin: 0px;
    &:hover {
      padding: 2px;
      margin: 0px;
    }
  }
}

.separator {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
}

.import-all > form {
  margin: 0;
}

.backoffice_dataset_submit_buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  div {
    padding: 0 12px 0 12px;
  }
}

.backoffice_dataset_actions_buttons {
  display: flex;
  justify-content: center;
}

#backoffice_search {
  padding-left: 30px;
  width: 400px;
  display: inline-block;
}

#backoffice_search_container {
  margin: 0;
  .form__group {
    display: inline-block;
  }
}

.backoffice_search_button {
  display: inline-block;
  margin-left: 16px !important;
}

.pt-12 {
  padding-top: 12px;
}

.sortable > a {
  text-decoration: none;
  color: var(--theme-dark-text);
}

.sort-icon {
  color: var(--grey);
  padding-left: 3px;
}
