.dataset_import_validations_logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  th,
  td {
    padding: 0 3px;
    text-align: center;
  }
  table,
  th,
  td {
    border: 1px solid var(--light-grey);
    border-collapse: collapse;
  }
}

.backoffice-results {
  width: 100%;
  border-collapse: collapse;
  border: 0 solid black;
  th {
    text-align: left;
    border: 0 solid black;
  }
  td {
    border: 0 solid black;
    padding: 2px;
  }
  tr {
    padding: 6px;
    height: 50px;
  }
  tr:hover {
    background-color: #ebebeb;
  }
  tr:first-of-type > th:first-of-type {
    width: 250px;
  }
}

.bo_action_button {
  form > button,
  div > button {
    padding: 2px;
    margin: 0;
    &:hover {
      padding: 2px;
      margin: 0;
    }
  }
}

.separator {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
}

.import-all > form {
  margin: 0;
}

#backoffice_dataset_submit_buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  div {
    padding: 0 12px;
  }
}

.backoffice_dataset_actions_buttons {
  display: flex;
  justify-content: center;
}

#backoffice_search {
  padding-left: 30px;
  width: 400px;
  display: inline-block;
}

#backoffice_search_container {
  margin: 0;
  max-width: 100%;

  .form__group {
    display: inline-block;
  }
}

.backoffice_search_button {
  display: inline-block;
  margin-left: 16px !important;
}

.pl-12 {
  padding-left: 12px;
}

.pl-24 {
  padding-left: 24px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-12 {
  padding-top: 12px;
}

.sortable > a {
  text-decoration: none;
  color: var(--theme-dark-text);
}

.sort-icon {
  color: var(--grey);
  padding-left: 3px;
}

.dashboard-description {
  margin: 0 auto;
  max-width: 700px;
}

.dashboard-heatmap {
  border-spacing: 1px;
  border-collapse: separate;
  margin: 0 auto;
  margin-bottom: 2em;
  background-color: #ddd;
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    text-decoration: underline;
  }
  .no_import {
    background-color: rgb(71, 32, 32);
  }
  .only_failures {
    background-color: red;
  }
  .some_failures {
    background-color: orange;
  }
  .only_successes {
    background-color: rgb(0, 255, 0);
  }
  /* I used class to work around linter error here */
  .dataset {
    padding: 0;
    margin: 0;
    border-spacing: 1px;
    border-bottom: 1px solid black;
  }
  .heatmap-header {
    font-size: 8px;
    line-height: 10px;
    font-weight: normal;
  }
  td {
    padding: 3px 6px;
    border: none !important;
  }
}

.panel-explanation {
  color: var(--grey);
  position: relative;
  top: -1em;
  right: 0;
  text-align: right;
  & + h4 {
    margin-top: -1em;
  }
}

.custom-tag {
  animation: fade-in 0.5s;
  &.green {
    background-color: var(--light-green);
  }
  &.blue {
    background-color: var(--lighter-blue);
  }
  &.orange {
    background-color: var(--light-orange);
  }
  &.grey {
    background-color: var(--lighter-grey);
  }
  &.dark-blue {
    background-color: var(--dark-blue);
    color: white;
  }
  .delete-tag {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 100%;
    background: linear-gradient(
      -45deg,
      transparent 0%,
      transparent 46%,
      white 46%,
      white 56%,
      transparent 56%,
      transparent 100%
    ),
      linear-gradient(
      45deg,
      transparent 0%,
      transparent 46%,
      white 46%,
      white 56%,
      transparent 56%,
      transparent 100%
    );
    background-color: var(--grey);

    &:hover {
      background-color: var(--dark-grey);
      border-color: var(--dark-grey);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.red {
  color: red;
}

iframe {
  border-radius: 8px;
  border: 2px solid var(--grey);
  aspect-ratio: 16 / 9;
  max-width: 700px;
  margin: 0 auto;
  display: block;
}