.add-update-resource {
  .small-bottom-margin {
    margin-bottom: 6px;
  }

  .choose-file {
    background-color: var(--theme-background-grey);
    padding-bottom: 24px;
    .option-1,
    .option-2 {
      display: flex;
      .panel {
        flex-basis: 40vw;
      }
    }
    form {
      margin: 0;
    }
  }

  .choose-or {
    padding: 6px 0;
    font-weight: bold;
  }
  .button.primary {
    background-color: var(--primary-color-producer);
  }
}
