#communityresources {
  h4 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  .main-pan {
    margin-top: 1em;
  }

  .community-resources__logo {
    min-width: 3em;
    min-height: 3em;
  }

  .community-resources__side-pan {
    margin-right: 4em;
    position: relative;
  }

  .community-resources__organization-name {
    position: absolute;
    bottom: 0;
  }
}
