.dataset {
  .section {
    padding: 3em;
  }
}

.dataset__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dataset__logo {
  flex: 0 0 20%;
}

.dataset__title {
  width: 100%;
  flex: 0 0 80%;
}

.resource--download {
  display: flex;

  i {
    font-size: 3em;
  }

  div > h6 {
    color: var(--black);
    text-decoration: none;
  }
}

.resource {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.resource__details {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5%;
    text-align: center;
  }
}

.resource--valid {
  background: var(--theme-success-bg);
  border: 1px solid var(--theme-success-border);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.resource--notvalid {
  background: var(--theme-background-grey);
  border: 1px solid var(--theme-border-lighter);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.resource__header {
  padding-bottom: 1em;
  width: 60%;
}

.resource__details {
  width: 40%;
}

.resource__summary--Fatal {
  background: var(--theme-error-bg);
  border: 1px solid var(--theme-error-border);
}
.resource__summary--Error {
  background: var(--theme-error-bg);
  border: 1px solid var(--theme-error-border);
}
.resource__summary--Warning {
  background: var(--theme-warning-bg);
  border: 1px solid var(--theme-warning-border);
}
.resource__summary--Information {
  background: var(--theme-information-bg);
  border: 1px solid var(--theme-information-border);
}
.resource__summary--Irrelevant {
  background: var(--theme-background-success);
  border: 1px solid var(--theme-success-border);
}
.resource__summary--Success {
  background: var(--theme-background-success);
  border: 1px solid var(--theme-success-border);
}

.reuse {
  display: flex;
  flex-direction: row;
  &:not(:last-child) {
    padding-bottom: 7em;
  }

  img {
    height: 10vw;
    padding-right: 3em;
  }

  div > div {
    display: flex;
    flex-direction: row;
  }

  div > a {
    margin-right: 5em;
  }
}

@media (max-width: 749px) {
  .dataset__header {
    flex-direction: column;
  }
  .resource {
    flex-direction: column;
    margin-bottom: 10vw;
  }

  .resource__header, .resource__details {
    width: 100%
  }

  .reuse {
    flex-direction: column;

    div > div {
      flex-direction: column;
    }

    div:first-of-type {
      text-align: center;
    }

    img {
      height: unset;
      width: 50vw;
    }
  }
}