.download_availability {
  display: flex;
  align-items: flex-end;
  height: 36px;
  width: 100%;

  @media (max-width: 950px) {
    justify-content: center;
  }
  .flex_container {
    display: flex;
    align-items: baseline;
    width: 100%;
    .day {
      flex: 1 1 12px;
      max-width: 14px;
      height: 30px;
      transition: height 0.1s;
      border-radius: 4px;
      &:hover {
        height: 35px;
        filter: brightness(110%);
      }
    }
    .day ~ .day {
      margin-left: 3px;
    }
  }

  $color-availability-100: rgb(117 206 94) !default;
  $color-availability-99: rgb(189 206 94) !default;
  $color-availability-95: rgb(206 185 94) !default;
  $color-availability-50: rgb(255 118 83) !default;
  $color-availability-low: rgb(199 18 18) !default;

  .download_availability_100 {
    background-color: $color-availability-100;
  }
  .download_availability_99 {
    background-color: $color-availability-99;
  }
  .download_availability_95 {
    background-color: $color-availability-95;
  }
  .download_availability_50 {
    background-color: $color-availability-50;
  }
  .download_availability_low {
    background-color: $color-availability-low;
  }

  .download_availability_100_text {
    color: $color-availability-100;
    filter: brightness(70%);
  }
  .download_availability_99_text {
    color: $color-availability-99;
    filter: brightness(70%);
  }
  .download_availability_95_text {
    color: $color-availability-95;
    filter: brightness(70%);
  }
  .download_availability_50_text {
    color: $color-availability-50;
    filter: brightness(70%);
  }
  .download_availability_low_text {
    color: $color-availability-low;
    filter: brightness(70%);
  }

  + details {
    > summary {
      cursor: pointer;
    }

    > div {
      margin-top: 5pt;
    }
  }
}
