.error {
  margin-top: 48px;
  text-align: center;
  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 24px;
  }
}

.error__background {
  background: url("../images/error-background-1920.jpg") no-repeat center center
    fixed;
  background-size: cover;
  width: 75vw;
  margin: 1em auto;
  min-height: 90vw;
}

@include media-tablet-up {
  .error__background {
    min-height: 45vw;
  }
}

@include media-desktop-up {
  .error__background {
    min-height: 25vw;
  }
}

.error__background.internal_error {
  background: url("../images/train_wreck_at_Montparnasse_1895.jpg") no-repeat
    center bottom;
  background-size: cover;
}
