.checkbox-explore {
  display: flex;
  align-items: flex-start;
  input {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    margin-right: 15px;
  }
  #gtfs-rt-check:checked {
    background-color: rgb(0, 150, 136);
  }
  #bnlc-check:checked {
    background-color: rgb(255, 174, 0);
  }
  #parkings_relais-check:checked {
    background-color: rgb(0, 33, 70);
  }
  #zfe-check:checked {
    background-color: rgb(52, 8, 143);
  }
  #irve-check:checked {
    background-color: rgb(245, 40, 145);
  }
  #gbfs_stations-check:checked {
    background-color: rgb(60, 115, 168);
  }
}
