.explore .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gtfs-rt irve"
    "bnlc    gbfs_stations"
    "zfe     .";
  column-gap: 24px;
  row-gap: 12px;
  justify-content: space-between;
  justify-items: stretch;
  padding-bottom: 24px;
  padding-inline: 48px;

  .gtfs-rt       { grid-area: gtfs-rt;       }
  .zfe           { grid-area: zfe;           }
  .bnlc          { grid-area: bnlc;          }
  .irve          { grid-area: irve;          }
  .gbfs_stations { grid-area: gbfs_stations; }

  > div summary {
    cursor: pointer;
  }
}

.checkbox-explore {
  display: flex;
  align-items: flex-start;
  input {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    margin-right: 15px;
  }
  details {
    margin-top: 0;
  }
  #gtfs-rt-check:checked {
    background-color: rgb(0 150 136);
  }
  #bnlc-check:checked {
    background-color: rgb(255 174 0);
  }
  #zfe-check:checked {
    background-color: rgb(52 8 143);
  }
  #irve-check:checked {
    background-color: rgb(245 40 145);
  }
  #gbfs_stations-check:checked {
    background-color: rgb(60 115 168);
  }
}

@media (max-width: 949px) {
  .explore .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "gtfs-rt"
      "bnlc"
      "zfe"
      "irve"
      "gbfs_stations";
  }
}
