.checkbox-explore {
  display: flex;
  align-items: flex-start;
  input {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    margin-right: 15px;
  }
  #gtfs-rt-check:checked {
    background-color: rgb(0,150,136);
  }
  #bnlc-check:checked {
    background-color: rgb(255, 174, 0);
  }
}
