
.feedback-selector {  
    input{
        display: none;
    }
    
    label {
        cursor:pointer;
        display:inline-block;
        margin-right: 12px;
        filter: brightness(1.8) grayscale(1) opacity(.7);
    }
    
    label:hover{
        filter: brightness(1.2) grayscale(.5) opacity(.9);
    }
    
    input:checked + label {
        filter: none;
        color: $primary;
    }
    
    .feedback-emojis {
        font-size: 48px;
    }
}

.feedback-form {


#full-feedback-form.hidden {
    display: none;
}

.form__group + #full-feedback-form {
    margin-top: 2em;
    margin-top: var(--space-l);
}


.form-special-field {
    // hide field used as honey-pot
    display: none;
  }


}