#gtfs-diff-input {
  display: flex;
  justify-content: left;
  align-items: stretch;
  #upload-form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 60px 0 0;
    .drop-zone {
      padding: 10px;
      min-height: 100px;
      background-color: white;
    }
    button {
      margin-top: 50px;
    }
  }
  .entry-name {
    padding-bottom: 10px;
    display: inline-block;
    width: 250px;
  }
  input {
    border: none;
    padding: 12px 0 6px;
  }
}

progress {
  accent-color: var(--blue);
}

.gtfs-diff-results {
  min-height: 90vh;
  h4 {
    margin: 24px 0 12px;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
  .orange {
    color: orange;
  }
  .summary {
    display: flex;
    justify-content: space-around;
  }
}
