.icon {
  @extend .fas;
}

.icon--badge {
  @extend .fa-id-badge;
}

.icon--cubes {
  @extend .fa-cubes;
}

.icon--download {
  @extend .fa-download;
}

.icon--hand-up {
  @extend .fa-hand-point-up;
}

.icon--link {
  @extend .fa-external-link-alt;
}

.icon--login {
  @extend .fa-sign-in-alt;
}

.icon--logout {
  @extend .fa-sign-out-alt;
}

.icon--open {
  @extend .fa-folder-open;
}

.icon--reuse {
  @extend .fa-mobile-alt;
}

.icon--user-plus {
  @extend .fa-user-plus;
}

.icon--book {
  @extend .fa-book;
}

.icon--file {
  @extend .fa-file;
}

.icon--envelope {
  @extend .fa-envelope;
}

.icon--magnifier {
  @extend .fa-search;
}

.icon--times-circle {
  @extend .fa-times-circle;
}

.icon--chart-line {
  @extend .fa-chart-line;
}

.icon--right-arrow {
  @extend .fa-long-arrow-alt-right;
}

.icon--calendar-alt {
  @extend .fa-calendar-alt;
}

.icon--plus {
  @extend .fa-plus;
}

.icon--sync-alt {
  @extend .fa-sync-alt;
}

.icon--table {
  @extend .fa-table
}
