.map {
  min-height: 40em;
  width: 50%;

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .legend {
    line-height: 18px;
    color: #555;
    h4 {
      margin: 0.2em;
    }
    i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  }
}

.stats {
  .domain-stats {
    display: flex;
    flex-wrap: wrap;
  }

  .domain-stats>* {
    flex: 1 1 500px;
  }

  .panel {
    display: grid;
    grid-template-rows: repeat(auto-fill, 120px);
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    width: 50%;
  }

  .tile {
    background-color: $lighter-grey;
    padding: 2em;

    h3 {
      font-size: 3em;
      margin: 0;
    }
  }
}

.deployment h2 {
  margin-top: 3em;
}