@use "../globals/variables";

.message--success {
  background: variables.$background-message-success;
  border: 1px solid variables.$border-message-success;
}

.message--warning {
  background: variables.$background-message-warning;
  border: 1px solid variables.$border-message-warning;
}

.message--error {
  background: variables.$background-message-error;
  border: 1px solid variables.$border-message-error;
}

.message--info {
  background: variables.$background-message-info;
  border: 1px solid variables.$border-message-info;
}
