@use "../globals/variables";

ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: end;

  li {
    float: left;

    a {
      font-weight: 700;
      display: inline-block;
      padding: 0.2em 0.5em;
      margin: 0.2em;
      color: variables.$blue;
      background-color: variables.$white;
      border-radius: 3px;
      border: 0;
      position: relative;
      top: 0;
      overflow: hidden;
      text-decoration: none;

      &:hover {
        background-color: variables.$lighter-blue;
        color: variables.$blue;
      }
    }

    &.active a {
      color: variables.$white;
      background-color: variables.$blue;
    }
  }
}