#resource-geojson {
  .leaflet-popup-content {
    overflow: auto;
  }
}

.full-width {
  width: 100%;
}

.networks-list div {
  padding-left: 12px;
}

.networks-start-end {
  display: grid;
  grid-template-columns: max-content repeat(4, max-content);
  column-gap: 10px;
  row-gap: 3px;
  .outdated {
    color: $red;
  }
  .valid-not-for-long {
    color: $orange;
  }
}

.table.small-padding {
  td,
  th {
    padding: 0.5em;
  }
}

.statistic {
  strong {
    margin-inline: 0.25em;
  }

  code {
    font-size: 0.75rem;
    padding: 0;
    margin-inline: 0.25em;
  }

  .dropdown {
    display: inline-flex;
    align-items: center;
    flex-direction: row;

    .fa-circle-question {
      transform: translateY(-0.25em);
      color: var(--grey);
      font-size: 0.75em;
    }

    &:hover .fa-circle-question {
      color: var(--dark-grey);
    }

    .dropdown-content {
      cursor: text;
      padding: 0.25em 0.5em;
      box-shadow: none;
      transition: unset;
    }
  }
}
