#resource-geojson {
  .leaflet-popup-content {
    overflow: auto;
  }
}

.full-width {
  width: 100%;
}

.networks-list div {
  padding-left: 12px;
}

.networks-start-end {
  display: grid;
  grid-template-columns: max-content repeat(4, max-content);
  column-gap: 10px;
  row-gap: 3px;
  .outdated {
    color: $red;
  }
  .valid-not-for-long {
    color: $orange;
  }
}

.table.small-padding {
  td,
  th {
    padding: 0.5em;
  }
}
