#resource-geojson {
  .leaflet-popup-content {
    overflow: auto;
  }
}

.full-width {
  width: 100%;
}

.networks-list div {
  padding-left: 12px;
}

.networks-start-end {
  display: grid;
  grid-template-columns: max-content repeat(4, max-content);
  column-gap: 10px;
  row-gap: 3px;
  .outdated {
    color: $red;
  }
  .valid-not-for-long {
    color: $orange;
  }
}

.table.small-padding {
  td,
  th {
    padding: 0.5em;
  }
}

.netex {
  #issues {
    ul {
      list-style: none;
      padding-left: 1.25rem;
      padding-bottom: 0.75rem;
    }
  }

  .fa {
    margin-right: 0.25rem;
  }

  .fa-check {
    color: var(--green);
  }

  .fa-xmark {
    color: var(--red);
  }

  .fa-minus {
    color: var(--light-grey);
  }

  .compatibility_filter {
    font-weight: 600;
  }

  .compatibility_filter.irrelevant {
    text-decoration: line-through;
    font-weight: unset;
  }
}
