.shortlist {
  display: flex;
}

.shortlist__pagination {
  margin: 1em 0;
  display: flex;
  justify-content: end;
}

.shortlist .side-pane {
  padding: 0;
  margin-right: 2em;
  flex: 0 0 15em;
}

.shortlist .main-pane {
  padding: 0;
}

.dataset__panel {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .panel__content {
    height: 5.5em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div:last-child {
      padding: 1em;
    }
  }

  .dataset__image {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex: 0 0 5.5em;
    border-right: 1px solid #eee;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 1em;
    line-height: 1em;
  }

  .dataset__image img {
    object-fit: contain;
    height: 100%;
  }

  .side-pane__submenu a {
    padding: 0;
  }

  .dataset__title a {
    color: #1c1c1c;
    text-decoration: none;
  }

  .dataset__title a:hover {
    background: 0;
  }

  .dataset__title {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.25em;
  }

  .dataset__subtitle {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.25em;
    text-align: center;
  }

  .dataset__description {
    display: flex;
    justify-content: flex-start;
  }

  .dataset__type {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex: 0 0 4.5em;
    position: relative;
    align-items: flex-end;
    text-align: center;
    padding: 1em;
    line-height: 1em;
    margin-right: 1em;
  }

  .dataset__type img {
    height: 100%;
  }

  .panel__extra {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-top: 1px solid #eee;
  }

  .dataset__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .shortlist__link {
    flex-shrink: 0;
  }

  .shortlist__notices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .shortlist__notices,
  .shortlist__notice {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .shortlist__notice {
    margin: 0;
    margin-right: 1em;
    flex-wrap: 0;
  }

  .dataset__icon {
    height: 1em;
  }

  .shortlist__label {
    margin-right: 0.5em;
  }
}

.dataset__panel + .dataset__panel {
  margin-top: 1em;
}

* + .side-pane__title {
  margin-top: 3em;
}

.activefilter {
  font-weight: 700;
}

.side-pane__dropdown {
  margin-bottom: 2em;

  h4 {
    margin-bottom: 0.5em;
    font-family: "Source Sans Pro";
    font-size: 1em;
  }
}

@include tablet {
  .shortlist {
    flex-direction: column;
  }

  .shortlist__pagination {
    justify-content: center;
  }

  .shortlist .side-pane {
    order: 2;
    margin-right: 0;
    margin-top: 2em;
  }

  .shortlist .main-pane {
    order: 1;
  }
}

@include mobile {
  .dataset__panel .dataset__title h3 {
    margin: 0;
    font-size: 1em;
  }

  .dataset__info {
    flex-direction: column;
  }

  .shortlist__pagination .pagination {
    justify-content: center;
  }
}

.ml-1em {
  margin-left: 1em;
}

.mb-3 {
  padding-bottom: 3px !important;
}

.dataset-udpate-date {
  flex-basis: 300px;
  flex-shrink: 1;
}

.dataset-format {
  flex-grow: 1;
}

.dataset-type-text {
  margin-left: 1em !important;
}

@media(max-width: 1400px) {
  .dataset-udpate-date {
    flex-basis: 250px;
  }
}

@media(max-width: 1200px) {
  .dataset-format {
    order: 3;
    width: 100%;
    margin-left: 1em !important;
  }
}

.dataset-localization {
  padding: 0 !important;
}

@media(min-width: 1200px) {
  .dataset-localization {
    margin-top: 6px;
  }
}

.dataset-backoffice-link {
  display: none;
}

.dataset__panel:hover {
  .dataset-backoffice-link {
    display: inline;
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    padding-left: 6px;
    vertical-align: top;
    a {
      color: var(--grey);
    }
  }
}

.order-by {
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  .order-by__title {
    padding-right: 6px;
    color: var(--darker-grey);
  }
}

.order-by-option {
  padding-left: 12px;
  a {
    text-decoration: none;
    color: var(--darker-grey);
    &:hover {
      text-decoration: underline;
    }
  }
}

.dataset-page-title {
  padding-top: 4em;
  padding-bottom: 12px;
  text-align: center;
  h1 {
    margin: 0;
  }
}

.dataset-page-top {
  padding-top: 1em;
}

#datasets-results {
  padding-top: 3em;
  padding-bottom: 6em;
}
