.shortlist {
  display: flex;
}

.shortlist__title {
  float:left;
}

.shortlist__pagination {
  margin: 1em 0;
  display: flex;
  justify-content: end;
}

.shortlist .side-pane {
  padding: 0;
  margin-right: 2em;
  flex: 0 0 15em;
}

.shortlist .main-pane {
  padding: 0;
}

.dataset__panel {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .panel__content {
    height: 5.5em;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    div:last-child {
      padding: 1em;
    }
  }

  .dataset__image {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex: 0 0 5.5em;
    border-right: 1px solid #eee;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 1em;
    line-height: 1em;
  }

  .dataset__image img {
    object-fit: contain;
  }

  .side-pane__submenu a {
    padding: 0;
  }

  .dataset__title a {
    color: #1c1c1c;
    text-decoration: none;
  }

  .dataset__title a:hover {
    background: 0;
  }

  .dataset__title {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.25em;
  }

  .dataset__subtitle {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.25em;
    text-align: center;
  }

  .panel__extra {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-top: 1px solid #eee;
  }

  .dataset__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .shortlist__link {
    flex-shrink: 0;
  }

  .shortlist__notices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .shortlist__notices,
  .shortlist__notice {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .shortlist__notice {
    margin: 0;
    margin-right: 2em;
    flex-wrap: 0;
  }

  .dataset__icon {
    height: 1em;
  }

  .shortlist__label {
    margin-right: 0.5em;
  }
}

.dataset__panel + .dataset__panel {
  margin-top: 1em;
}

* + .side-pane__title {
  margin-top: 3em;
}

.side-pane__submenu .activefilter {
  font-weight: 700;
}

.side-pane__dropdown {
  margin-bottom: 2em;

  h4 {
    margin-bottom: 0.5em;
    font-family: "Source Sans Pro";
    font-size: 1em;
  }
}

@include tablet {
  .shortlist {
    flex-direction: column;
  }

  .shortlist__title {
    float: none;
  }

  .shortlist__pagination {
    justify-content: center;
  }

  .shortlist .side-pane {
    order: 2;
    margin-right: 0;
    margin-top: 2em;
  }

  .shortlist .main-pane {
    order: 1;
  }
}

@include mobile {
  .dataset__panel .dataset__title h3 {
    margin: 0;
    font-size: 1em;
  }

  .dataset__info {
    flex-direction: column;
  }

  .shortlist__pagination .pagination {
    justify-content: center;
  }
}
