.deployment .hero__container {
  min-height: 15em;
  width: 80%;
  margin: auto;
}

.deployment h2 {
  margin-top: 3em;
}

.map {
  min-height: 40em;
  min-width: 35%;
  border-right: 2px solid var(--theme-background-grey);

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .legend {
    line-height: 18px;
    color: #555;
    h4 {
      margin: 0.2em;
    }
    i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  }
}

.drom_maps {
  display: flex;
  flex-flow: column wrap;
  min-height: 30em;

  .drom_map {
    height: 50%;
    width: 50%;
    border: 2px solid var(--theme-background-grey);
  }
}

.stats {
  .domain + .domain {
    margin-top: 5em;
  }

  .domain-stats {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 800px) {
    .domain-stats > .panel {
      min-width: 100%;
      padding: 1em 0;
    }
  }

  .domain-stats > * {
    flex: 1 1 25%;
  }

  .panel {
    border: 0;
    min-width: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
  }

  .description {
    padding: 2em;
    background-color: $white;
    flex-grow: 1;
    position: relative;

    p {
      margin: 0;
    }

    h3 {
      display: inline-block;
    }

    &:hover {
      .stat-link {
        display: inline;
      }
    }
    .stat-link {
      display: none;
      position: absolute;
      top: 0;
      right: 3px;
      font-size: 14px;
      a {
        color: var(--grey);
        background-color: white;
      }
    }
  }

  .tile {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    flex-basis: content;

    &:hover {
      transform: none;
    }

    h3 {
      font-size: 2.5em;
      margin: 0;
    }

    div {
      margin-left: 0.75em;
    }
  }

  .tile-numbers {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    background-color: $white;
    flex-wrap: wrap;
    width: 100%;

    .tile {
      width: 50%;
    }
  }

  .free-floating {
    .tile-numbers {
      width: 100%;
    }

    .tile {
      justify-content: center;
    }
  }

  .general {
    @media screen and (max-width: 650px) {
      flex-flow: row wrap;
    }
  }

  .general .tile {
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    @media screen and (max-width: 650px) {
      flex: 1 100%;
    }
  }

  .quality .panel,
  .theorical .panel {
    .tile {
      padding: 1em 2em;
    }

    .tile + .tile {
      margin-top: 1em;
    }
    .description + .tile {
      margin-top: 1em;
    }
  }

  .format-viz {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2em;
    padding-top: 0;
    margin: 0 auto;

    .item {
      height: 1.5em;
      background-color: $blue;
      flex-grow: 1;

      &.netex {
        background-color: $grey;
      }
    }
  }

  .rt-viz {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1em, 1fr));
    grid-gap: 0.5em;
    padding: 2em;
    padding-top: 0;
    margin: 0 auto;
    width: 100%;

    .item {
      height: 1.25em;
      width: 1.25em;
      background-color: $blue;

      &.non-standard {
        background-color: $grey;
      }
    }
  }

  .tile.bike-list {
    flex-grow: 0;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    grid-template-rows: auto;
    grid-gap: 0;
  }

  .bike-list .tile__icon {
    margin: auto;
    width: 2em;
    height: 2em;
  }
}

.staticPTdata .leaflet-control-layers-selector {
  top: -2px;
}

.staticPTdata input[type="radio"]::before {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
}
