nav.validation {
  padding: 10px;
  h4 {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
  }
  a {
    padding: 0;
    width: 100%;
    color: var(--theme-label-text);
    text-decoration: none;
  }
  a.active {
    font-weight: bold;
    color: var(--theme-dark-text);
  }
}

.issues-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.validation-issue {
  padding: 12px 48px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.validation-title {
  padding-top: 48px;
}

.validation-content {
  background-color: var(--theme-background-grey);
  padding-top: 24px;
  padding-bottom: 48px;
  margin-top: 48px;
  .validation-metadata {
    display: inline-block;
  }
  .validation-content-details {
    .panel {
      overflow-x: auto;
    }
    table {
      table-layout: fixed;
      width: 100%;
    }
    td {
      word-wrap: break-word;
    }
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-48 {
  margin-top: 48px !important;
}

.validation-section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.grey-background {
  width: 100vw;
  background-color: var(--theme-background-grey);
  padding-top: 48px;
  padding-bottom: 48px;
}

.scrolable-table {
  overflow: auto;
}

.validation-details {
  div {
    margin-top: 12px;
  }

  .file-table {
    display: flex;
  }

  .raw-values {
    background-color: var(--theme-background-grey);
  }
}

.error-details {
  margin-top: 6px;
  display: block;
  background-color: var(--theme-background-grey);
  padding: 4px 0 4px 25px;
}

details .button {
  display: block;
}

details > code {
  width: 100%;

  &.inline {
    display: inline;
  }
}

table.netex_generic_issue, table.netex_xsd_schema {
  tr.message td {
    vertical-align: top;
  }
}

table.netex_generic_issue th:nth-child(1), table.netex_xsd_schema th:nth-child(2) {
  width: 60%;
}

table.netex_generic_issue tr.debug:hover {
  background: revert;
}

table.netex_generic_issue tr.debug td {
  border-top: none;
  padding-top: 0;
}

table.netex_generic_issue tr.debug td summary {
  cursor: pointer;
}

table.netex_generic_issue tr.debug td pre {
  margin-block: 0;
}

table.netex_generic_issue tr.debug td code {
  width: 100%;
}

.netex {
  ul.summary {
    list-style: none;
    padding-inline: var(--space-xs);

    li {
      display: grid;
      gap: var(--space-s) var(--space-m);
      grid-template-columns: [icon-start] 1.5rem [icon-end content-start] 50rem [content-end];
      padding-bottom: var(--space-m);
      padding-left: var(--space-s);
      margin-bottom: var(--space-m);
      border-bottom: 1px solid var(--light-grey);

      i.fa {
        align-self: center;
        justify-self: center;
        grid-column: icon;
      }
      > * {
        grid-column: content;
      }
      p {
        margin: 0;

        a {
          text-decoration: underline;
        }
      }
    }

    li.comment {
      padding-bottom: unset;
      border-bottom: unset;

      div a {
        text-decoration: underline;
      }
    }
  }

  .fa {
    margin-right: 0.25rem;
  }

  .fa-check {
    color: var(--green);
  }

  .fa-xmark {
    color: var(--red);
  }

  .fa-minus {
    color: var(--light-grey);
  }

  .fa-circle-info {
    color: var(--dark-blue);
  }

  .compatibility_filter {
    font-weight: 600;
  }
}

blockquote {
  margin: 0;
  padding-left: .5em;
  border-left: 2px solid var(--grey);
}

.loader_container {
  display: flex;
  justify-content: center;
}

.loader {
  margin: 2em 0;
  height: 15px;
  aspect-ratio: 5;
  background: radial-gradient(closest-side at 37.5% 50%,#000 94%,#0000) 0 / calc(80% / 3) 100%;
  animation: loader-animation .75s infinite;
}
@keyframes loader-animation {
  100% {background-position: 36.36%}
}
