nav.validation {
  padding: 10px;
  h4 {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
  }
  a {
    padding: 0;
    width: 100%;
    color: var(--theme-label-text);
    text-decoration: none;
  }
  a.active {
    font-weight: bold;
    color: var(--theme-dark-text);
  }
}

.issues_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.validation_issue {
  padding: 30px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.validation-pane {
  min-width: 0;
  max-width: 1200px;
  padding: 10px;
}

.mt-48 {
  margin-top: 48px;
}

.validation-section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.grey-background {
  width: 100vw;
  background-color: var(--theme-background-grey);
  padding-top: 48px;
  padding-bottom: 48px;
}

.scrolable-table {
  overflow: auto;
}

.validation-details {
  div {
    margin-top: 12px;
  }

  .file-table {
    display: flex;
  }

  .raw-values {
    background-color: var(--theme-background-grey);
  }
}

.error-details {
  margin-top: 6px;
  display: block;
  background-color: var(--theme-background-grey);
  padding: 4px 0 4px 25px;
}
