nav.validation {
  padding: 10px;
  h4 {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
  }
  a {
    padding: 0;
    width: 100%;
    color: var(--theme-label-text);
    text-decoration: none;
  }
  a.active {
    font-weight: bold;
    color: var(--theme-dark-text);
  }
}

.issues-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.validation-issue {
  padding: 12px 48px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.validation-title {
  padding-top: 48px;
}

.validation-content {
  background-color: var(--theme-background-grey);
  padding-top: 24px;
  padding-bottom: 48px;
  margin-top: 48px;
  .validation-metadata {
    display: inline-block;
  }
  .validation-content-details {
    .panel {
      overflow-x: auto;
    }
    table {
      table-layout: fixed;
      width: 100%;
    }
    td {
      overflow-wrap: break-word;
    }
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-48 {
  margin-top: 48px !important;
}

.validation-section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.2);
  padding: 60px 40px;
  border-radius: 10px;
  @media (max-width: $breakpoint-tablet) {
    padding: 10px;
  }
}

.grey-background {
  width: 100vw;
  background-color: var(--theme-background-grey);
  padding-top: 48px;
  padding-bottom: 48px;
}

.scrolable-table {
  overflow: auto;
}

.validation-details {
  div {
    margin-top: 12px;
  }

  .file-table {
    display: flex;
  }

  .raw-values {
    background-color: var(--theme-background-grey);
  }
}

.error-details {
  margin-top: 6px;
  display: block;
  background-color: var(--theme-background-grey);
  padding: 4px 0 4px 25px;
}

details .button {
  display: block;
}

details > code {
  width: 100%;

  &.inline {
    display: inline;
  }
}

.download-button {
  text-decoration: none;
  &:hover {
    background-color: unset;
  }
}

.netex {
  dialog.inline-help {
    max-width: 90%;
    width: 80ch;
    max-height: 90%;
    overflow: scrollable;
    overscroll-behavior: contain;

    h5 { margin-block: 0 1em; }
    h6 { margin-block: 2em 1em; }
    .header_with_action_bar + h6 { margin-top: 0; }
    .fa-close { padding: unset }
    code { font-size: 0.75em; }
  }

  table.netex_generic_issue, table.netex_xsd_schema {
    tr.message td {
      vertical-align: top;
    }
  }

  table.netex_xsd_schema {
    tr, td {
      &:nth-child(1) {
        text-align: right;
      }
    }
  }

  table.netex_generic_issue {
    th, td {
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 10%;
      }
    }

    tr.debug {
      &:hover {
        background: revert;
      }

      td {
        border-top: none;
        padding-top: 0;

        summary {
          cursor: pointer;
        }

        pre {
          margin-block: 0;
        }

        code {
          width: 100%;
        }
      }
    }
  }

  #download-popup {
    max-width: 60ch;

    .download-grid {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: var(--space-s) var(--space-l);

      button {
        display: flex;
        width: 100%;
      }
    }
  }

  #issues {
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    container-type: inline-size;
    container-name: issues-list;

    &:has(a.colorful.invalid) {
      min-height: 80vh;
    }

    .issues-footer {
      border-top: 1px solid var(--light-grey);
      padding-top: var(--space-s);
      margin-top: var(--space-s);

      p {
        margin-block: unset;
      }
    }

    table {
      border: unset;
      td, th {
        padding: var(--space-xs) var(--space-s);
        @container issues-list (width < 800px) {
          padding: calc(var(--space-xs) / 2) var(--space-xs);
        }
      }
    }
  }

  .pagination {
    margin-top: var(--space-s);
  }

  #issues-list {
    margin-top: var(--space-m);
  }

  #categories {
    margin-bottom: var(--space-s);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .category {
    font-weight: 600;
  }

  .selected-category {
    .fa {
      padding-right: var(--space-xs);
    }

    .fa-check {
      color: var(--green);
    }

    .fa-circle-info {
      color: var(--dark-blue);
    }
  }

  .text-quote {
    --taint: var(--grey);

    padding: var(--space-s);
    background-color: color-mix(in oklab, var(--taint), white);
    color: color-mix(in oklab, var(--taint), black);
    border-left-color: var(--taint);

    .fa {
      color: color-mix(in oklab, var(--taint), black 30%);
    }

    a {
      color: color-mix(in oklab, var(--taint), black 30%);
    }

    &.information {
      --taint: var(--theme-info-border);
    }

    &.warning {
      --taint: var(--orange);
    }
  }

  button[popovertarget="french-profile-rules"] {
    margin-left: 0.5em;
  }
}

blockquote {
  margin: 0;
  padding-left: .5em;
  border-left: 2px solid var(--grey);
}

.loader_container {
  display: flex;
  justify-content: center;
}

.loader {
  margin: 2em 0;
  height: 15px;
  aspect-ratio: 5;
  background: radial-gradient(closest-side at 37.5% 50%,#000 94%,#0000) 0 / calc(80% / 3) 100%;
  animation: loader-animation .75s infinite;
}
@keyframes loader-animation {
  100% {background-position: 36.36%}
}

div.header_with_action_bar {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
  gap: var(--space-m);
}
