<section class="single-page section section-grey">
  <div class="container container_min_height">
    <h1><%= TransportWeb.Gettext.dgettext("validations", "Check the quality of a file or a feed") %></h1>
    <div class="pb-48">
      <.form
        :let={f}
        for={@changeset}
        action={validation_path(@socket, :validate)}
        class="no-margin"
        multipart={true}
        as={:upload}
        phx-change="form_changed"
      >
        <%= select(f, :type, @select_options, label: dgettext("validations", "Data type"), required: true) %>
        <%= if @input_type == "file" do %>
          <%= file_input(f, :file, label: dgettext("validations", "Choose your file"), required: true) %>
        <% end %>
        <%= if @input_type == "link" do %>
          <%= text_input(f, :url,
            label: dgettext("validations", "Your URL"),
            placeholder: "https://.../gbfs.json",
            required: true,
            type: "url"
          ) %>
        <% end %>
        <%= if @input_type == "gtfs-rt" do %>
          <%= text_input(f, :url,
            label: dgettext("validations", "Your GTFS' URL"),
            placeholder: "https://example.com/gtfs.zip",
            required: true,
            type: "url"
          ) %>
          <%= text_input(f, :feed_url,
            label: dgettext("validations", "Your GTFS realtime's URL"),
            placeholder: "https://example.com/gtfs-rt.bin",
            required: true,
            type: "url"
          ) %>
        <% end %>
        <%= submit(dgettext("validations", "Validate"), nodiv: true) %>
      </.form>
    </div>
  </div>
</section>
<script defer type="text/javascript" src={static_path(@socket, "/js/app.js")}>
</script>
