<section>
  <div class="grey-background">
    <div class="container">
      <h2 class="mt-48">
        <%= dgettext("validations", "Validation results")%>
      </h2>

      <div class="panel">
        <% metadata = @validation.on_the_fly_validation_metadata %>
        <% details = @validation.details %>

        <%= if metadata["state"] == "waiting" do %>
          <p><%= dgettext("validations", "Validation in progress")%></p>
        <%= end %>

        <%= if metadata["state"] == "error" do %>
          <div class="notification error full-width">
            <p><%= metadata["error_reason"] %></p>
          </div>
        <%= end %>

        <%= if metadata["state"] == "completed" do %>
          <%= if metadata["type"] != "gtfs" do %>
            <p>
              <%= raw dgettext("validations", ~s(This resource should follow its schema <a href="%{link}" target="_blank">%{schema}</a>.), schema: metadata["schema_name"], link: Transport.Shared.Schemas.schema_url(metadata["schema_name"], "latest")) %>
            </p>
            <h4><%= dgettext("validations", "Validation details")%></h4>
            <p>
              <b>
              <% nb_errors = details["errors_count"] %>
              <%= if nb_errors == 0 do %>
                ✅ <%= dgettext("validations", "No error detected") %>
              <% else %>
                ❌ <%= "#{nb_errors} #{dpngettext("validations", "errors", "error", "errors", nb_errors)}" %>
              <% end %>
              </b>
            </p>

            <%= if nb_errors > 0 do %>
              <p><%= dgettext("validations", "Errors:")%></p>
              <ul>
                <%= for error <- details["errors"] |> Enum.take(50) do %>
                  <li><%= error %></li>
                <% end %>
              </ul>

              <%= if nb_errors > 50 do %>
                <p><%= dgettext("validations", "Showing only the first %{nb} errors.", nb: 50)%></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <p class="small"><%= dgettext("validations", "Last updated at %{date}.", date: @last_updated_at)%></p>
      </div>

    </div>
  </div>
</section>
<script defer type="text/javascript" src="/js/app.js") %>></script>
