<% oban_args = @validation.oban_args %>
<% details = @validation.result %>
<% is_final_state = oban_args["state"] in ["completed", "error"] %>
<section>
  <div class="container">
    <div class="validation-title">
      <h2><%= dgettext("validations", "Validation results") %></h2>
      <p>
        <%= dgettext("validations", "This report can be shared with") %>
        <%= link(dgettext("validations", "this permanent link"), to: @current_url) %>.
      </p>
      <%= if is_final_state do %>
        <p class="small">
          <%= dgettext("validations", "Validation performed at %{date}.",
            date: format_datetime(@validation.validation_timestamp, @locale)
          ) %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="grey-background">
    <div class="container">
      <div class="panel">
        <%= if oban_args["state"] == "waiting" do %>
          <p><%= dgettext("validations", "Validation in progress. This page will be updated automatically.") %></p>
        <% end %>

        <%= if oban_args["state"] == "error" do %>
          <div class="notification error full-width">
            <p><%= oban_args["error_reason"] %></p>
          </div>
        <% end %>

        <%= if oban_args["state"] == "completed" do %>
          <%= if oban_args["type"] == "gtfs-rt" do %>
            <% errors = Map.fetch!(details, "errors") %>
            <% errors_error_level = errors |> Enum.filter(&(Map.fetch!(&1, "severity") == "ERROR")) %>
            <% errors_warning_level = errors |> Enum.filter(&(Map.fetch!(&1, "severity") == "WARNING")) %>

            <%= TransportWeb.ValidationView.render("_errors_warnings_count.html",
              nb_errors: Map.fetch!(details, "errors_count"),
              nb_warnings: Map.fetch!(details, "warnings_count")
            ) %>

            <p>
              <%= dgettext("validations", "Validation performed at %{date}.",
                date: format_datetime(@validation.validation_timestamp, @locale)
              ) %>
            </p>

            <h4><%= dgettext("validations", "Feed details") %></h4>
            <ul>
              <li>
                GTFS <a href={Map.fetch!(oban_args, "gtfs_url")}><%= Map.fetch!(oban_args, "gtfs_url") %></a>
              </li>
              <li>
                GTFS-RT <a href={Map.fetch!(oban_args, "gtfs_rt_url")}><%= Map.fetch!(oban_args, "gtfs_rt_url") %></a>
              </li>
            </ul>

            <div class="notification">
              <p>
                <%= raw(
                  dgettext(
                    "validations",
                    ~s(This validation concerns the given GTFS-RT feed and GTFS file and has been carried out using the <a href="%{validator_url}" target="_blank">CUTR GTFS-RT validator</a>. It does not validate the GTFS itself. You can validate your GTFS file <a href="%{gtfs_validator}">using our GTFS validator</a>.),
                    gtfs_validator:
                      TransportWeb.Router.Helpers.live_path(@socket, TransportWeb.Live.OnDemandValidationSelectLive,
                        type: "gtfs"
                      ),
                    validator_url: TransportWeb.ResourceView.gtfs_rt_validator_url()
                  )
                ) %>
              </p>
              <p>
                <%= dgettext(
                  "validations",
                  ~s(GTFS-RT feeds change in real-time. This validation report shows the validation result performed at %{date}. You can relaunch a validation later on and get different results.),
                  date: format_datetime(@validation.validation_timestamp, @locale)
                ) %>
              </p>
            </div>

            <%= unless Enum.empty?(errors_error_level) do %>
              <h4><%= dgettext("validations", "Errors") %></h4>
              <%= TransportWeb.ValidationView.render("_gtfs_rt_errors_for_severity.html",
                errors_for_severity: errors_error_level
              ) %>
            <% end %>

            <%= unless Enum.empty?(errors_warning_level) do %>
              <h4><%= dgettext("validations", "Warnings") %></h4>
              <%= TransportWeb.ValidationView.render("_gtfs_rt_errors_for_severity.html",
                errors_for_severity: errors_warning_level
              ) %>
            <% end %>
            <%= TransportWeb.ResourceView.render("_gtfs_rt.html",
              gtfs_rt_feed: @gtfs_rt_feed,
              entities_seen_recently: nil,
              locale: @locale
            ) %>
          <% end %>

          <%= if oban_args["type"] in ["tableschema", "jsonschema"] do %>
            <% max_display_errors = 50 %>
            <p>
              <%= raw(
                dgettext("validations", ~s(This resource should follow its schema %{link}.),
                  link:
                    safe_to_string(
                      link(oban_args["schema_name"],
                        to: Transport.Shared.Schemas.documentation_url(oban_args["schema_name"]),
                        target: "_blank"
                      )
                    )
                )
              ) %>
            </p>
            <p>
              <b>
                <% nb_errors = details["errors_count"] %>
                <%= if nb_errors == 0 do %>
                  <span class="icon--validation">✅</span><%= dgettext("validations", "No error detected") %>
                <% else %>
                  <span class="icon--validation">❌</span>
                  <%= "#{nb_errors} #{dpngettext("validations", "errors", "error", "errors", nb_errors)}" %>
                <% end %>
              </b>
            </p>

            <%= if nb_errors > 0 do %>
              <p><%= dgettext("validations", "Errors:") %></p>
              <ul>
                <%= for error <- details["errors"] |> Enum.take(max_display_errors) do %>
                  <li><%= error %></li>
                <% end %>
              </ul>

              <%= if nb_errors > max_display_errors do %>
                <p class="notification">
                  <%= dgettext("validations", "Showing only the first %{nb} errors.", nb: max_display_errors) %>
                  <%= if oban_args["type"] == "tableschema" do %>
                    <%= raw(
                      dgettext(
                        "validations",
                        ~s(See all your errors <a href="%{url}" target="_blank">using the web interface</a>.),
                        url: validata_web_url(oban_args["schema_name"])
                      )
                    ) %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= unless is_final_state do %>
          <p class="small">
            <%= dgettext("validations", "Last updated at %{date}.", date: format_datetime(@last_updated_at, @locale)) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<script defer type="text/javascript" src="/js/app.js">
</script>
