<section class="single-page section section-grey">
  <div class="container" style="min-height: 50vh;">
    <article class="">
    <h1><%= TransportWeb.Gettext.dgettext("validations", "Check a GTFS file's quality") %></h1>
    <div class="pb-48">
      <%= form_for @conn, validation_path(@conn, :validate), [as: "upload", multipart: :true, class: "no-margin"], fn f -> %>
        <%= select f, :type, @select_options, selected: "gtfs", label: dgettext("validations", "File type") %>
        <%= file_input f, :file, label: dgettext("validations", "Choose your file") %>
        <%= submit dgettext("validations", "Upload"), [nodiv: true] %>
      <% end %>
    </div>
    </article>
  </div>
</section>
