<section>
  <div class="container">
    <div class="validation-title">
      <h2><%= dgettext("validations", "NeTEx review report") %></h2>
      <p>
        <%= dgettext("validations", "explanations-netex") %>
      </p>
      <p>
        <%= dgettext("validations", "This report can be shared with") %>
        <%= link(dgettext("validations", "this permanent link"), to: current_url(@conn)) %>.
      </p>
    </div>

    <%= unless is_nil(@metadata) or @metadata == %{} do %>
      <%= render("_resources_details_netex.html", metadata: @metadata, conn: @conn) %>
    <% end %>
  </div>

  <div class="validation-content">
    <div class="container">
      <p class="notification warning">
        <strong><%= dgettext("validations", "NeTEx validation is in beta.") %></strong> <br />
      </p>

      <%= if has_errors?(@validation_summary) do %>
        <%= render("_validation_summary.html",
          validation_summary: @validation_summary,
          severities_count: @severities_count,
          conn: @conn,
          issues: @issues,
          token: @token,
          results_adapter: @results_adapter,
          data_vis: nil
        ) %>
      <% end %>

      <div class="validation-content-details">
        <div class="panel">
          <%= if has_errors?(@validation_summary) do %>
            <%= pagination_links(@conn, @issues, [@validation_id],
              issue_type: @results_adapter.issue_type(@issues.entries),
              token: @token,
              path: &validation_path/4,
              action: :show
            ) %>
            <%= render(netex_template(@issues), issues: @issues || [], conn: @conn) %>
            <div class="pt-24">
              <%= pagination_links(@conn, @issues, [@validation_id],
                issue_type: @results_adapter.issue_type(@issues.entries),
                token: @token,
                path: &validation_path/4,
                action: :show
              ) %>
            </div>
          <% else %>
            <h2><%= dgettext("validations", "Nice work, there are no issues!") %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-white">
  <%= live_render(@conn, TransportWeb.Live.FeedbackLive, session: %{"feature" => "on_demand_validation"}) %>
</section>

<script defer type="text/javascript" src={static_path(@conn, "/js/app.js")}>
</script>
