<section>
  <div class="documentation dataset-details">
    <nav class="side-pane validation" role="navigation">
      <div class="pt-48"></div>
      <%= render "_validation_summary.html", validation_summary: @validation_summary, severities_count: @severities_count, conn: @conn, issues: @issues %>
    </nav>
    <div class="main-pane validation-pane">
      <h2><%= dgettext("validations", "GTFS review report")%></h2>
      <p class="pb-48">
        <div>
          <%= dgettext("validations", "explanations") %>
        </div>
        <div>
          <%= dgettext("validations", "This report can be shared with") %>
          <%= link(dgettext("validations", "this permanent link"), to: current_url(@conn) )%>.
        </div>
      </p>
      <%= pagination_links @conn, @issues,  [@validation_id], issue_type: issue_type(@issues.entries),
            path: &validation_path/4, action: :show %>
      <%= if has_errors?(@validation_summary) do %>
        <%= render template(@issues), issues: @issues || [] , conn: @conn %>
      <% else %>
        <h2><%= dgettext("validations", "Nice work, there are no issues!")%></h2>
      <% end %>
    </div>
  </div>
</section>
