<section>
  <div class="container">
    <div class="validation-title">
      <h2><%= dgettext("validations", "GTFS review report") %></h2>
      <p>
        <%= dgettext("validations", "explanations") %>
      </p>
      <p>
        <%= dgettext("validations", "This report can be shared with") %>
        <%= link(dgettext("validations", "this permanent link"), to: current_url(@conn)) %>.
      </p>
    </div>
  </div>

  <div class="validation-content">
    <div class="container">
      <%= unless is_nil(@metadata) do %>
        <div class="panel validation-metadata">
          <%= render("_resources_details.html", metadata: @metadata, conn: @conn) %>
        </div>
      <% end %>

      <%= if has_errors?(@validation_summary) do %>
        <%= render("_validation_summary.html",
          validation_summary: @validation_summary,
          severities_count: @severities_count,
          conn: @conn,
          issues: @issues,
          data_vis: @data_vis,
          token: @token
        ) %>
      <% end %>

      <div class="validation-content-details">
        <div class="panel" style="overflow-x:auto;">
          <%= if has_errors?(@validation_summary) do %>
            <%= pagination_links(@conn, @issues, [@validation_id],
              issue_type: issue_type(@issues.entries),
              token: @token,
              path: &validation_path/4,
              action: :show
            ) %>
            <%= render(template(@issues), issues: @issues || [], conn: @conn) %>
            <div class="pt-24">
              <%= pagination_links(@conn, @issues, [@validation_id],
                issue_type: issue_type(@issues.entries),
                token: @token,
                path: &validation_path/4,
                action: :show
              ) %>
            </div>
          <% else %>
            <h2><%= dgettext("validations", "Nice work, there are no issues!") %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
