<section>
    <div class="documentation dataset-details">
        <nav class="side-pane validation" role="navigation">
          <%= render "_validation_summary.html", validation_summary: @validation_summary, conn: @conn, issues: @issues %>
        </nav>
        <div class="main-pane">
          <h2><%= dgettext("validations", "GTFS review report")%></h2>
          <p>
            <%= dgettext("validations", "explanations") %>
            <%= link(dgettext("validations", "permanent link to this validation"), to: current_url(@conn) )%>
          </p>

          <%= pagination_links @conn, @issues,  [@validation_id], issue_type: issue_type(@issues.entries),
            path: &validation_path/4, action: :show %>

          <%= if has_errors?(@validation_summary) do %>
          <%= render template(@issues), issues: @issues || [] , conn: @conn %>
          <% else %>
          <h2><%= dgettext("validations", "Nice work, there are no issues!")%></h2>
          <% end %>
        </div>
    </div>
</section>
