<section class="netex">
  <div class="container">
    <div class="validation-title">
      <.netex_validation_report_title validation_report_url={@validation_report_url}>
        <h2>{dgettext("validations", "NeTEx review report")}</h2>
      </.netex_validation_report_title>

      <p>
        {dgettext("validations", "explanations-netex")}
      </p>
      <p>
        {dgettext("validations", "This report can be shared with")}
        {link(dgettext("validations", "this permanent link"), to: current_url(@conn))}
        {dgettext("validations", "during %{retention_days} days",
          retention_days: Transport.Jobs.CleanOnDemandValidationJob.retention_days()
        )}.
      </p>
    </div>

    <%= unless is_nil(@metadata) or @metadata == %{} do %>
      {render("_resources_details_netex.html", metadata: @metadata, conn: @conn)}
    <% end %>
  </div>

  <div id="validation-report" class="validation-content">
    <div id="issues" class="container">
      <% current_category = @filter["issues_category"] || "xsd-schema" %>
      <.netex_validation_report_content
        conn={@conn}
        current_category={current_category}
        xsd_errors={@xsd_errors}
        issues={@issues}
        results_adapter={@results_adapter}
        validation_report_url={@validation_report_url}
        validation_summary={@validation_summary}
        pagination={netex_pagination_links(@conn, @issues, @validation_id, current_category)}
      />
    </div>
  </div>
</section>

<section class="section section-white">
  {live_render(@conn, TransportWeb.Live.FeedbackLive, session: %{"feature" => "on_demand_validation"})}
</section>
