<p>
<%= dgettext("validations-explanations", "MissingFile") %>
</p>
<table class="table">
    <tr>
        <th><%= dgettext("validations-explanations", "File name") %></th>
    </tr>

    <%= for issue <- @issues do %>
    <tr>
        <td><%= issue["object_id"] %></td>
    </tr>
    <% end %>
</table>
