<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                <img class="img-fluid" src="{{ index .Params.images 0 }}" alt="">
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Params.description }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {{if isset .Site.Params "author"}}
                {{if isset .Site.Params "author_thumb"}}
                    <span class="meta-footer-thumb">
                        <img class="author-thumb" src="{{ .Site.Params.author_thumb | urlize | relURL  }}" alt="{{ .Site.Params.author }}">
                    </span>
                    <span class="post-name">{{ .Site.Params.author }}</a></span><br/>
                {{end}}
                {{end}}
                {{ $stationsN := cond (ge 1 (div .ReadingTime 3)) 1 (div .ReadingTime 3)}}
                <span class="post-date">{{ dateFormat "2.1.2006" .Date }} - Temps de lecture : {{  $stationsN }} arrêt{{- cond (eq $stationsN 1) "" "s" }} de bus </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
